<header class="header-main">
  <div class="container-narrow">
    <button class="btn-link burger-menu icon-chevron-left head-color__icon" (click)="comS.pushBack()"></button>
    <div class="personal-info__heading" *ngIf="dialogInfo">
      <h1 class="heading-main" *ngIf="dialogInfo && dialogInfo.users && dialogInfo.users.length > 0">{{dialogInfo.users[0]['customer_id'] ? (dialogInfo.users[0]['first_name'] + ' ' + dialogInfo.users[0]['last_name']) : ''}}
        <input type="text" title="" *ngIf="!dialogInfo.users[0]['customer_id']" disabled>
      </h1>
      <span *ngIf="dialogInfo.users[0]['customer_id']" class="{{(comS.usersStatuses && comS.usersStatuses[dialogInfo.users[0]['user_id']]) ? 'personal-status__on' : 'personal-status__off'}}">{{(comS.usersStatuses && comS.usersStatuses[dialogInfo.users[0]['user_id']]) ? comS.lang['hint_status_online'] : comS.lang['hint_status_offline']}}</span>
    </div>
    <div class="avatar-mini photo avatar-master" *ngIf="dialogInfo">
      <img (click)="comS.pushPage('/main/contacts/' + dialogInfo.users[0]['customer_id'])" [src]="dialogInfo.users && dialogInfo.users.length > 0 && dialogInfo.users[0]['photo_url'] ? dialogInfo.users[0]['photo_url'] : comS.defaultPhoto" alt="">
    </div>
  </div>
</header>

<ion-content>
  <main class="dark-bg">
    <section class="section-messages__dialogue with-nav with-footer dark-bg">
      <div class="dialogue"></div> <!-- Container for messages in current dialogue -->
    </section>
  </main>
  <div class="contacts-letter__item message-menu__bottom">
    <div class="form-item w-100">
      <label class="name-label">
        <span class="placeholder-span" [class.focused]="focusObject && (focusObject === 'message') || message">{{comS.lang['label_send_message']}}</span>
        <span class="textAreaValue">{{message}}</span>
        <textarea id="messageField" rows="1" [(ngModel)]="message" (keyup)="comS.resizeTextArea($event)" (focus)="fieldOnFocus('message')" (focusout)="fieldOutOfFocus()"></textarea>
        <!--<span class="icon-pluse-thin right-icon" (click)="clearFieldValue(note)" *ngIf="focusObject && (focusObject === 'message') || message"></span>-->
        <label for="messageField" class="icon-telegramm" (touchstart)="sendMessageToDialogue($event)"></label>
      </label>
    </div>
  </div>
</ion-content>
