<header class="header-main">
    <div class="container-narrow">
        <span class="back icon-chevron-left" (click)="comS.pushBack()"></span>
        <div class="personal-info__heading">
            <h1 class="heading-main">{{comS.lang['nav_title_personal_services']}}</h1>
        </div>
    </div>
</header>
<ion-content>
  <section class="registration section-services new-service section-support with-nav">
    <section class="container-narrow my-services">
      <ul class="my-services-list">
          <li class="services-list__item service"  *ngFor="let section of servicesSections">
              <div class="service-name" [class.on-moderation]="section['onModeration']" [class.active-service]="(shownServiceList && shownServiceList === section) || (currentShownNewService && currentShownNewService === section)">
                  <span class="item-name list-item__center" (click)="showServices(section)">{{section.name}}</span>
                  <button [class]="((!currentShownNewService || (currentShownNewService && currentShownNewService !== section)) && !(shownServiceList && shownServiceList === section && section.services.length)) ? 'icon-pluse' : 'icon-minus'" (click)="showNewService(section, null, $event)"></button>
                  <div *ngIf="section['onModeration']" class="service-status"><span class="icon-time"></span><p>{{comS.lang['hint_category_on_moderation']}}</p><p></p></div>
              </div>
              <ion-datetime class="duration-picker" [(ngModel)]="serviceDuration" (ionChange)="serviceDurationChanged($event)" [displayFormat]="'H:mm'" [minuteValues]="'00,05,10,15,20,25,30,35,40,50,55'"></ion-datetime>
              <app-new-record-inline (serviceDataChanged)="serviceAdded($event)" (initDurationPicker)="initPicker($event)" [section]="section" [provider]="editedProvider" [duration]="serviceDuration" *ngIf="currentShownNewService && currentShownNewService === section"></app-new-record-inline>
              <ul class="service-accordion service-receipt__list" *ngIf="shownServiceList && shownServiceList === section && section['formatted']['approved'].length">
                  <li *ngFor="let service of section['formatted']['approved']">
                      <ion-item-sliding #item>
                          <ion-item>
                              <div class="service-receipt">
                                  <div class="receipt-name" (click)="presentAlert(service['name'])">{{service['name']}}</div>
                                  <div class="receipt-duration">{{service['time'] | serviceDurationFormat}}{{comS.lang['label_hour_short']}}</div>
                                  <div class="receipt-price">{{service['price'] | coastFormat}}{{comS.lang['label_currency_short']}}</div>
                                  <button class="icon-burger-thin" (click)="openItem(item, true)"></button>
                              </div>
                          </ion-item>
                          <ion-item-options (click)="openItem(item, false)" side="end">
                              <button ion-button class="slide-action edit" (click)="editService(service, section, $event)">{{comS.lang['button_edit']}}</button>
                              <button ion-button class="slide-action delete" (click)="deleteService(service, section, $event)">{{comS.lang['button_delete']}}</button>
                          </ion-item-options>
                      </ion-item-sliding>
                  </li>
              </ul>
              <ul class="service-accordion service-receipt__list" *ngIf="shownServiceList && shownServiceList === section && section['formatted']['onModeration'].length">
                  <li *ngFor="let service of section['formatted']['onModeration']" class="service-mute">
                      <div class="service-status">
                          <span class="icon-time"></span>
                          <p>{{comS.lang['hint_service_on_moderation']}}</p>
                          <p></p>
                      </div>
                      <ion-item-sliding #item>
                          <ion-item>
                              <div class="service-receipt">
                                  <div class="receipt-name" (click)="presentAlert(service['name'])">{{service['name']}}</div>
                                  <div class="receipt-duration">{{service['time'] | serviceDurationFormat}}{{comS.lang['label_hour_short']}}</div>
                                  <div class="receipt-price">{{service['price'] | coastFormat}}{{comS.lang['label_currency_short']}}</div>
                                  <button class="icon-burger-thin" (click)="openItem(item, true)"></button>
                              </div>
                          </ion-item>
                          <ion-item-options (click)="openItem(item, false)" side="end">
                              <button ion-button class="slide-action edit" (click)="editService(service, section, $event)">{{comS.lang['button_edit']}}</button>
                              <button ion-button class="slide-action delete" (click)="deleteService(service, section, $event)">{{comS.lang['button_delete']}}</button>
                          </ion-item-options>
                      </ion-item-sliding>
                  </li>
              </ul>
          </li>
      </ul>
      <button class="button__add icon-pluse" (click)="comS.pushPage('/services-page')"></button>
      <p class="button-hint" (click)="comS.pushPage('/services-page')">{{comS.lang['label_add_service']}}</p>
    </section>
  </section>

</ion-content>