<ul class="service-accordion service-receipt__list" *ngIf="services">
  <li *ngFor="let service of services" [class]="service['status_id'] === 64 ? 'service-mute' : ''">
    <div class="service-status" *ngIf="service['status_id'] === 64">
      <span class="icon-time"></span>
      <p>услуга на модерации</p>
      <p></p>
    </div>
    <div class="service-receipt">
      <div class="receipt-name">{{service['name']}}</div>
      <div class="receipt-duration">{{service['time'] | serviceDurationFormat}}{{comS.lang['label_hour_short']}}</div>
      <div class="receipt-price">{{service['price'] | coastFormat}}{{comS.lang['label_currency_short']}}</div>
      <button class="icon-dots-square"></button>
    </div>
    <!--<ion-item-sliding #item>-->
      <!--<ion-item>-->
        <!--Item-->
      <!--</ion-item>-->
      <!--<ion-item-options side="left">-->
        <!--<button ion-button (click)="favorite(item)">Favorite</button>-->
        <!--<button ion-button color="danger" (click)="share(item)">Share</button>-->
      <!--</ion-item-options>-->

      <!--<ion-item-options side="right">-->
        <!--<button ion-button (click)="unread(item)">Unread</button>-->
      <!--</ion-item-options>-->
    <!--</ion-item-sliding>-->
  </li>


</ul>