<header class="header-main">
  <div class="container-narrow">
    <span class="back icon-chevron-left" (click)="comS.pushBack()"></span>
    <div class="personal-info__heading">
      <h1 class="heading-main">{{comS.lang['nav_title_my_profile']}}</h1>
    </div>
  </div>
</header>
<ion-content>
  <section class="my-profile with-nav">
    <section class="personal-information container-narrow">
      <div class="info-left">
        <div class="avatar avatar-image">
          <img src="{{(comS.userInfo && comS.userInfo['photo_url']) ? comS.userInfo['photo_url'] : comS.defaultPhoto}}" alt="">
        </div>
      </div>
      <div class="info-right personal-info">
        <span class="info-right__name">{{(comS.userInfo && comS.userInfo['first_name']) ? comS.userInfo['first_name'] + ' ' + comS.userInfo['last_name'] : ''}}</span>
        <div class="info-right__location">
          <span class="icon-location"><i class="far fa-map-marker-alt"></i></span>
          <span>{{comS.workerForProfile ? comS.workerForProfile['location']['city'] : ''}}</span>
        </div>
        <span class="info-right__age">
            {{comS.getAge(comS.userInfo['birth_date'])}}
        </span>
      </div>
    </section>
    <section class="personal-data container-narrow">
      <div class="personal-data__contacts light-border">
        <div class="personal-phone phone">
          <i class="fal fa-phone"></i>
          <!--<span class="icon-phone"></span>-->
          <span class="profile-span-container">
            <input type="text" title="" disabled>
          </span>
          <!--<span>{{(comS.userInfo && comS.userInfo.phone) ? comS.userInfo.phone : ''}}</span>-->
        </div>
        <div class="personal-mail">
          <i class="fal fa-envelope"></i>
          <span class="profile-span-container">{{(comS.userInfo && comS.userInfo['email']) ? comS.userInfo['email'] : '- - -'}}</span>
        </div>
      </div>
      <div class="personal-brief" *ngIf="comS.workerInfo && comS.workerInfo['description']">
        <p>{{comS.workerInfo['description']}}</p>
      </div>
      <button class="form-button__fill_dark control-btn" (click)="changeUsersData()">{{comS.lang['label_change_data']}}</button>
      <div class="personal-rating" *ngIf="comS.workerInfo && comS.workerInfo['rating']">
        <!--<div class="rating-system">-->
          <!--<div class="rating-quantity">2.5</div>-->
          <!--<div class="rating-name">Системный</div>-->
        <!--</div>-->
        <!--<div class="rating-user">-->
          <!--<div class="rating-quantity">5</div>-->
          <!--<div class="rating-name">Пользовательский</div>-->
        <!--</div>-->
        <div class="rating-overall">
          <div class="rating-quantity">{{comS.workerInfo['rating']}}</div>
          <div class="rating-name">{{comS.lang['label_common_rating']}}</div>
        </div>
      </div>
      <ng-container *ngIf="comS.workerInfo && comS.workerInfo['experience']">
        <div class="personal-experience" *ngFor="let company of comS.workerInfo['experience']">
          <div class="company">
            <p class="company-job">{{company['company_name'] ? comS.lang['label_company'] : comS.lang['label_private']}} </p>
            <p class="company-name">{{company['company_name'] ? company['company_name'] : comS.lang['label_worker']}}</p>
          </div>
          <ul class="experience-list" *ngFor="let specialization of Object.values(company['specializations'])">
            <li class="experience-item">
              <p class="experience-date">c {{comS.formatDateTime(specialization['start'], 'YYYY')}}</p>
              <span class="experience-duties">
                  {{specialization['name']}}
              </span>
            </li>
          </ul>
          <!--<div class="btns-actions">-->
            <!--<button class="form-button__fill">Вступить в компанию</button>-->
            <!--&lt;!&ndash;                            <button class="form-button__fill_dark">Покинуть компанию</button>&ndash;&gt;-->
            <!--<button class="form-button__fill_green">Создать Компанию</button>-->
          <!--</div>-->
        </div>
        <div class="experience-share">
          <button class="btn-link">{{comS.lang['button_show_all']}}</button>
        </div>
      </ng-container>

      <div class="personal-service__short light-border">
        <div class="services">
          <div class="name-section">{{comS.lang['label_services']}}</div>
          <button class="btn-change" (click)="comS.pushPage('/my-services-main')">{{comS.lang['button_change']}}</button>
        </div>
        <ul class="service-short__list" *ngIf="comS.workerInfo && comS.workerInfo['services']">
          <li class="service-short__item" *ngFor="let service of comS.workerInfo['services']">{{service['name']}}</li>
        </ul>
      </div>
      <!--<div class="personal-card">-->
        <!--<div class="card-head">-->
          <!--<span class="icon-card"></span>-->
          <!--<span class="card-heading">{{comS.lang['label_payment_info']}}</span>-->
          <!--<button class="btn-change__light">{{comS.lang['button_change']}}</button>-->
        <!--</div>-->
        <!--<div class="card-requisites">-->
          <!--<input class="requisites-input" type="number" id= "card"/>-->
          <!--<label class="requisites-label" for="card">**** **** **** 1234</label>-->
        <!--</div>-->
      <!--</div>-->
    </section>
    <section class="personal-archive container-narrow section" *ngIf="archivedRecords">
      <div class="archive-header">
        <h2 class="archive-name">{{comS.lang['label_records_archive']}}</h2>
        <button class="btn-change" (click)="comS.pushPage('/records-archive')">{{comS.lang['label_see_all']}}</button>
      </div>
      <div class="personal-archive__card light-border" *ngFor="let record of archivedRecords['data']">
        <div class="archive-card__heading">
          <div class="service">
              <span *ngFor="let service of record['service_providers']; let i = index;">
                {{service['name']}}<span *ngIf="i !== record['service_providers'].length - 1">,</span>
              </span>
          </div>
          <div class="service-time">
            <!--<span class="icon-clock"></span>-->
            <span>{{comS.formatDateTime(record['date'], 'DD.MM')}} {{comS.lang['label_on_date_postfix']}} {{record['time']}}</span>
          </div>
        </div>
        <section class="personal-information" *ngIf="record['customer']">
          <div class="info-right-container">
            <div class="avatar avatar-image">
              <img [src]="record['customer']['photo_url'] ? record['customer']['photo_url'] : comS.defaultPhoto" alt="">
            </div>
            <div class="info-right personal-info">
              <span class="info-right__name">
                {{record['customer']['first_name']}} {{record['customer']['last_name']}}
              </span>
              <div class="info-right__review" *ngIf="record['reviews'] && record['reviews'].length > 0">
                <span>Первый раз подстриглась у Натальи 6 лет назад, с тех пор больше не могу </span>
              </div>
              <div class="assessment" *ngIf="record['reviews'] && record['reviews'].length > 0">
                <span class="icon-star star-positive"></span>
                <span class="icon-star star-positive"></span>
                <span class="icon-star star-positive"></span>
                <span class="icon-star "></span>
                <span class="icon-star "></span>
              </div>
            </div>
          </div>
        </section>
      </div>
    </section>
    <section class="personal-reviews container-narrow section" *ngIf="reviews && reviews.length > 0">
      <div class="archive-header">
        <h2 class="archive-name">{{comS.lang['label_reviews']}}</h2>
        <button class="btn-change">{{comS.lang['label_see_all']}}</button>
      </div>
      <div class="personal-archive__card light-border" *ngFor="let review of reviews">
        <div class="archive-card__heading">
          <div class="service">Стрижка</div>
          <div class="service-time">
            <span class="icon-clock"></span>
            <span>21.12 в 11:00</span>
          </div>
        </div>
        <section class="personal-information">
          <div class="info-right personal-info">
                            <span class="info-right__name">
                                Катя Фотошопович
                            </span>
            <div class="assessment">
              <span class="icon-star star-positive"></span>
              <span class="icon-star star-positive"></span>
              <span class="icon-star star-positive"></span>
              <span class="icon-star "></span>
              <span class="icon-star "></span>
            </div>
          </div>
        </section>
      </div>
    </section>
  </section>
</ion-content>