<app-header-menu [config]="headerConfig" (calendarDateSwiped)="dateSwiped($event)" (calendarSelectDate)="dateSelected($event)"></app-header-menu>
<app-add-record></app-add-record>
<ion-content>
  <main class="dark-bg">
    <section class="personal-workflow calendar__min">
      <div class="lists-container" [style.height]="containerHeight && containerHeight !== 0 ? (comS.getType(containerHeight) === 'number' ? containerHeight + 'px' : containerHeight) : 'auto'">
        <ul class="workflow-list container-menu" *ngFor="let timeArrayItem of timeArray; let timeI = index;" [class.not-current-date]="daysDiff(timeI)" [class.current-date]="comS.getMomentObject(selectedDate).add(timeArray.length === 3 ? (timeI - 1) : timeI, 'days').format('YYYY-MM-DD') === comS.getMomentObject().format('YYYY-MM-DD')" [attr.data-day]="comS.getMomentObject(selectedDate).add(timeArray.length === 3 ? (timeI - 1) : timeI, 'days').format('YYYY-MM-DD')">
          <li *ngFor="let hour of timeArrayItem">
            <div *ngIf="hour['isInTime']" class="workflow-item">
              <label class="workflow-item__date" *ngIf="hour['showTimeLabel']">{{hour['hour'] + ':00'}}</label>
              <div class="workflow-item__info_wrapper">
                <div *ngFor="let record of hour['record']; let rec_i = index;">
                  <div class="workflow-item__info free-time" [class.hide-time]="(hour['hour'] < currentHour) && (comS.getMomentObject(selectedDate).add(timeArray.length === 3 ? (timeI - 1) : timeI, 'days').format('YYYY-MM-DD') <= comS.getMomentObject().format('YYYY-MM-DD'))" *ngIf="getRecordStatus(record, rec_i, hour) === 'first_record'">
                    <label class="duration icon-check-circle"><span class="far fa-clock"></span>{{ hour['hour']+':00'}}-{{record['record']['start']['hour']}}:{{record['record']['start']['minute']}}</label>
                    <span class="icon-pluse" (click)="openNewRecord( hour['hour']+':00', record['record']['start']['hour'] + ':' + record['record']['start']['minute'])"></span>
                  </div>
                  <div class="workflow-item__info free-time" [class.hide-time]="(hour['hour'] < currentHour) && (comS.getMomentObject(selectedDate).add(timeArray.length === 3 ? (timeI - 1) : timeI, 'days').format('YYYY-MM-DD') <= comS.getMomentObject().format('YYYY-MM-DD'))" *ngIf="getRecordStatus(record, rec_i, hour) === 'between_records'">
                    <label class="duration icon-check-circle"><span class="far fa-clock"></span>{{ hour['hour'] + ':' + hour['record'][rec_i - 1]['record']['finish']}}-{{record['record']['start']['hour']}}:{{record['record']['start']['minute']}}</label>
                    <span class="icon-pluse" (click)="openNewRecord(hour['hour'] + ':' + hour['record'][rec_i - 1]['record']['finish'], record['record']['start']['hour'] + ':' + record['record']['start']['minute'])"></span>
                  </div>
                  <div class="workflow-item__info icon-dot" [class.hide-time]="(record['time'] < currentHour) && (comS.getMomentObject(selectedDate).add(timeArray.length === 3 ? (timeI - 1) : timeI, 'days').format('YYYY-MM-DD') <= comS.getMomentObject().format('YYYY-MM-DD'))" [attr.data-rec-id]="'record-' + record.record.record_id" [class.nearest-event]="nearestEvent && record['record']['record_id'] === nearestEvent['record_id']" *ngIf="record['status'] === 'start'">
                    <label class="duration icon-check-circle"><span class="far fa-clock"></span>{{record['record']['start']['hour']}}:{{record['record']['start']['minute']}}-{{record['time']}}:{{record['record']['finish']}}</label>
                    <div class="client-name">
                      {{((record['record']['customer']['last_name'] && record['record']['customer']['last_name'].length > 0) || (record['record']['customer']['first_name'] && record['record']['customer']['first_name'].length > 0)) ? record['record']['customer']['last_name'] + ' ' + record['record']['customer']['first_name'] : ''}}
                      <input disabled type="text" *ngIf="!((record['record']['customer']['last_name'] && record['record']['customer']['last_name'].length > 0) || (record['record']['customer']['first_name'] && record['record']['customer']['first_name'].length > 0))" [attr.data-phone]="record['record']['customer']['phone']" title="">
                    </div>
                    <div class="service-description">
                      <span *ngFor="let service of record['record']['services']; let serv_i = index">
                        {{service['service']['name'] + '(' + service['section_id'] + ')'}}{{(serv_i < (record['record']['services'].length - 1) && record['record']['services'].length > 1) ? ', ' : ''}}
                      </span>
                    </div>
                    <span class="ellipsis-container" (click)="openQuickAccess(record)">
                      <i class="fal fa-ellipsis-v"></i>
                    </span>
                  </div>
                  <div class="workflow-item__info free-time" [class.hide-time]="(hour['hour'] < currentHour) && (comS.getMomentObject(selectedDate).add(timeArray.length === 3 ? (timeI - 1) : timeI, 'days').format('YYYY-MM-DD') <= comS.getMomentObject().format('YYYY-MM-DD'))" *ngIf="getRecordStatus(record, rec_i, hour) === 'after_record'">
                    <label class="duration icon-check-circle"><span class="far fa-clock"></span>{{ hour['hour'] + ':' + hour['record'][rec_i - 1]['record']['finish']}}-{{hour['hour'] + 1}}:00</label>
                    <span class="icon-pluse" (click)="openNewRecord(hour['hour'] + ':' + hour['record'][rec_i - 1]['record']['finish'], hour['hour'] + 1 + ':00')"></span>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="!hour['isInTime']" class="workflow-item">
              <label class="workflow-item__date">{{ hour['hour']}}:00</label>
              <div class="workflow-item__info_wrapper">
                <div class="workflow-item__info free-time" [class.hide-time]="(hour['hour'] < currentHour) && (comS.getMomentObject(selectedDate).add(timeArray.length === 3 ? (timeI - 1) : timeI, 'days').format('YYYY-MM-DD') <= comS.getMomentObject().format('YYYY-MM-DD'))">
                  <label class="duration icon-check-circle"><span class="far fa-clock"></span>{{ hour['record'] ? (hour['record'][0]['time'] + ':' + hour['record'][0]['record']['finish']) : hour['hour']+':00'}}-{{hour['hour'] + 1}}:00</label>
                  <span class="icon-pluse" (click)="openNewRecord(hour['record'] ? (hour['record'][0]['time'] + ':' + hour['record'][0]['record']['finish']) : hour['hour']+':00', hour['hour'] + 1 + ':00')"></span>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
  </main>

</ion-content>
<app-main-footer [tab]="'records'"></app-main-footer>
<app-quick-access-overlay></app-quick-access-overlay>