<header [class]="(config && config.className) ? config.className : 'header-main'" [class.no-shadow]="config && config.withoutShadow">
  <div class="container-narrow">
    <span *ngIf="config && !config.showBack" class="burger-menu icon-burger" (click)="openSidebar()"></span>
    <span *ngIf="config && config.showBack" class="back icon-chevron-left" (click)="comS.pushBack()"></span>
    <div class="personal-info__heading">
      <h1 class="heading-main">{{ config && config.title }}</h1>
    </div>
    <span *ngIf="config && config.showNotif" class="main-notification icon-notification" (click)="comS.pushPage('/notifications')"></span>
    <button *ngIf="config && config.showBtn" class="btn-link" (click)="buttonsCallbackThrower(config.btn.callback)">{{config.btn.title}}</button>
  </div>
  <app-calendar [calendar]="calendarValues" (dataSwiped)="dateSwipedHandler($event)" (dataSelected)="dataSelectedHandler($event)" (calendarClosed)="calendarClosedHandler($event)" [class.blur]="config && config.calendarBlur" *ngIf="config && config.showCalendar"></app-calendar>
</header>