<app-header-menu [config]="headerConfig"></app-header-menu>
<div class="contacts-invitation">
  <p class="contacts-new__quantity" *ngIf="gettedClients">{{gettedClients.length}} {{comS.lang['label_number_of_contacts']}}</p>
  <button class="form-button__fill_small" *ngIf="gettedClients && gettedClients.length > 0" (click)="importAll()">{{comS.lang['button_add_all']}}</button>
</div>
<ion-content>
  <section class="contacts__add with-nav with-footer">
    <ul class="contacts-add__list">
      <li class="contacts-add__item" *ngFor="let word of wordsFounded">
        <span class="contacts-letter__sticker">
            <span class="sticker-letter">{{word.toUpperCase()}}</span>
        </span>
        <ul class="letter-list">
          <li class="letter-list-item" *ngFor="let contact of customersToShow[word]; let ci = index;">
            <div class="mark">
              <label class="mark-label contact-client__name" for="switch{{ci}}">{{(contact['formatted'] && contact['formatted'].length > 0) ? contact['formatted'] : contact['phone']}}</label>
              <input class="mark-input" id="switch{{ci}}" type="checkbox" (change)="markToImport(contact)">
            </div>
          </li>
        </ul>
      </li>
      <li class="contacts-add__item">
        <span class="contacts-letter__sticker">
            <span class="sticker-letter">{{comS.lang['label_others']}}</span>
        </span>
        <ul class="letter-list">
          <li class="letter-list-item" *ngFor="let other of othersFound; let oi = index;">
            <div class="mark">
              <label class="mark-label contact-client__name" for="switch{{oi}}">{{other['formatted']}}</label>
              <input class="mark-input" id="switch{{oi}}" type="checkbox" (change)="markToImport(other)">
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </section>
  <input type="text" class="contacts-mask-input">
</ion-content>
<app-main-footer [tab]="'contacts'"></app-main-footer>
