<ion-content>
  <section class="registration section-services new-service container-wide with-nav">
    <header class="header-main">
      <div class="container-narrow">
        <span class="back icon-chevron-left" (click)="comS.pushBack()"></span>
        <div class="personal-info__heading">
          <h1 class="heading-main">{{comS.lang['nav_title_personal_services']}}</h1>
        </div>
      </div>
    </header>
    <div class="service-name active-service" (click)="openAlert()">
        <span class="item-name list-item__center">{{comS.lang['label_create_new_category']}}</span>
        <button class="icon-pluse"></button>
    </div>
    <ul class="services-list">
      <li class="services-list__item" *ngFor="let section of sections; let i = index;">
        <span class="icon-scissors list-item__left"></span>
        <span class="item-name list-item__center">{{section.name}}</span>
        <div class="mark list-item__right">
          <input class="mark-input" id="theme-switch{{i}}" [value]="i" name="selectedSection" type="radio">
          <label class="mark-label" for="theme-switch{{i}}"></label>
        </div>
      </li>
    </ul>
    <button class="form-button__fill" (click)="saveCategory()">{{comS.lang['button_save']}}</button>
  </section>
</ion-content>