<article class="tab-content__container tab-content__single">
  <div class="btns-calendar">
    <div class="btn-calendar__light" (click)="changeActiveTab(true)" [class.btn-calendar__main]="activeTabFrom">{{comS.lang['label_calendar_from']}}</div>
    <div class="btn-calendar__light" (click)="changeActiveTab(false)"  [class.btn-calendar__main]="!activeTabFrom">{{comS.lang['label_calendar_to']}}</div>
  </div>
  <div class="calendar" *ngIf="calendarDays.formated.length">
    <ngx-wheel-selector #day_picker  [data]="data" class="day-collumn" (change)="onChangeDayHandler($event)"></ngx-wheel-selector>
    <!--<ngx-wheel-selector #day_picker  [data]="data" class="day-collumn" [class.disabled]="!activeTabFrom" (change)="onChangeDayHandler($event)"></ngx-wheel-selector>-->
    <ngx-wheel-selector #hour_picker [data]="data1" (change)="onChangeHourHandler($event)"></ngx-wheel-selector>
    <ngx-wheel-selector #minute_picker [data]="data2" (change)="onChangeMinuteHandler($event)"></ngx-wheel-selector>
  </div>
  <div class="calendar-subhead">
    <span>{{comS.lang['label_calendar_day']}}</span>
    <span>{{comS.lang['label_calendar_hour']}}</span>
    <span>{{comS.lang['label_calendar_min']}}</span>
  </div>
</article>
<button class="btn-side icon-check" *ngIf="selectedTime.valid" (click)="addTime()"></button>