<article class="tab-content__container tab-content__single">
  <div class="master-preview__container">
    <div class="master-preview active">
      <div class="avatar-master photo"></div>
      <span class="preview-name">Люба</span>
    </div>
    <div class="master-preview">
      <div class="avatar-master photo"></div>
      <span class="preview-name">Люба</span>
    </div>
    <div class="master-preview">
      <div class="avatar-master photo"></div>
      <span class="preview-name">Люба</span>
    </div>
  </div>
</article>