<article class="tab-content__container tab-content__single">
  <div *ngFor="let section of masterServices; let sec_i = index;">
    <div *ngFor="let service of section['services']; let ser_i = index;">
      <div class="mark" *ngIf="service['status_id'] === 29">
        <input class="mark-input" name="selectedService" [checked]="isSelectedService(service['provider_id'])" [value]="service['provider_id']" [attr.data-service-name]="service['name']" id="switch{{service['provider_id']}}" type="checkbox">
        <label class="mark-label" for="switch{{service['provider_id']}}">{{service['name']}}({{section['id']}})</label>
      </div>
    </div>
  </div>
</article>
<button class="btn-side icon-check" (click)="selectService()"></button>