<article class="tab-content__container tab-content__single" *ngIf="!showNewClient">
  <!--                &lt;!&ndash;&lt;!&ndash; SEARCH&ndash;&gt;&ndash;&gt;-->
  <label class="search-label">
    <span class="icon-search"></span>
    <input class="search-input" type="text" placeholder="Поиск" [(ngModel)]="searchClients" (ngModelChange)="filterUsers()">
  </label>
  <div class="contact-row" (click)="showNewClient = !showNewClient">
    <div class="avatar__new icon-pluse photo"></div>
    <div class="tab-content">
      <div class="phone">
        <p>
          Новый Клиент
        </p>
      </div>
    </div>
  </div>
  <div class="contact-row" [class.active-row]="currentCustomer && currentCustomer === customer" [attr.data-custid]="customer.id" *ngFor="let customer of customersFiltered" (click)="customerChanged(customer)"> <!-- добавить класс "active-row" для выбранного клиента -->
    <div class="avatar-mini photo">
      <img [src]="customer['photo_url'] ? customer['photo_url'] : comS.defaultPhoto">
    </div>
    <div class="tab-content">
      <div class="name">
        <p>
          {{customer['last_name']}} {{customer['first_name']}}
        </p>
      </div>
      <div class="phone">
        <p>
          <input type="text" disabled>
        </p>
      </div>
    </div>
  </div>
</article>
<app-add-new-client *ngIf="showNewClient"></app-add-new-client>
<button class="btn-side icon-check" *ngIf="customerSelected" (click)="selectCustomer()"></button>