<app-header-menu [config]="headerConfig"></app-header-menu>
<app-add-record></app-add-record>
<main class="dark-bg">
<div class="contacts-filter-container">
  <div class="box-search">
    <label class="search-label__dark">
      <span class="icon-search"></span>
      <input class="search-input" type="text" placeholder="Поиск" [(ngModel)]="searchClients" (ngModelChange)="filterSearchResults()">
    </label>
  </div>
  <!--<div class="box-filter">-->
    <!--<ul class="filter-list">-->
      <!--<li class="filter-list__item">-->
        <!--<button class="filter-name active-scroll"><p>Все</p></button>-->
      <!--</li>-->
      <!--<li class="filter-list__item">-->
        <!--<button class="filter-name"><p>Запись</p></button>-->
      <!--</li>-->
      <!--<li class="filter-list__item">-->
        <!--<button class="filter-name"><p>Постояный</p></button>-->
      <!--</li>-->
      <!--<li class="filter-list__item">-->
        <!--<button class="filter-name"><p>Переписка</p></button>-->
      <!--</li>-->
      <!--<li class="filter-list__item">-->
        <!--<button class="filter-name"><p>День</p><p>Pождения</p></button>-->
      <!--</li>-->
      <!--<li class="filter-list__item">-->
        <!--<button class="filter-name"><p>Все</p></button>-->
      <!--</li>-->
      <!--<li class="filter-list__item">-->
        <!--<button class="filter-name"><p>Запись</p></button>-->
      <!--</li>-->
      <!--<li class="filter-list__item">-->
        <!--<button class="filter-name"><p>Постояный</p></button>-->
      <!--</li>-->
      <!--<li class="filter-list__item">-->
        <!--<button class="filter-name"><p>Переписка</p></button>-->
      <!--</li>-->
      <!--<li class="filter-list__item">-->
        <!--<button class="filter-name"><p>День</p><p>Pождения</p></button>-->
      <!--</li>-->
    <!--</ul>-->
  <!--</div>-->
</div>
<!--<ion-content>-->

<!--</ion-content>-->
  <section class="contacts-list with-footer">
    <ul class="contacts-alphabet">
      <li class="contacts-letter" *ngFor="let letter of wordsFounded">
          <span class="contacts-letter__sticker">
              <span class="sticker-letter">{{letter.toUpperCase()}}</span>
          </span>
        <ul class="contacts-letter__list">
          <li class="contacts-letter__item" [attr.data-custid]="customer.id" *ngFor="let customer of customersToShow[letter]">
            <article class="tab-content__container" (click)="goToContact(customer['id'])">
              <div class="avatar-client avatar-middle photo">
                <img [src]="customer['photo_url'] ? customer['photo_url'] : comS.defaultPhoto" alt="">
              </div>
              <div class="tab-content">
                <div class="name">
                  <p>{{customer['last_name']}} {{customer['first_name']}}</p>
                </div>
                <div class="phone">
                  <p>
                    <input type="text" disabled>
                  </p>
                  <!--<p>{{customer['phone'] | mask: '+ 380 (99) 999 99 99'}}</p>-->
                  <!--<input mask="+ 380 (99) 999 99 99" type="tel" title="">-->
                </div>
              </div>
            </article>
            <article class="contact-actions">
              <ul class="actions-list">
                <li class="action-item" (click)="comS.pushPage('main/contacts/' + customer['id'] + '/edit')">
                  <button class="active">
                    <span class="icon-notice"></span>
                  </button>
                </li>
                <li class="action-item">
                  <a href="tel:{{customer && customer['phone'] ? customer['phone'] : ''}}">
                    <button>
                      <span class="icon-phone-fill"></span>
                    </button>
                  </a>
                </li>
                <li class="action-item" (click)="createDialog(customer)">
                  <button>
                    <span class="icon-comment-fill"></span>
                  </button>
                </li>
                <li class="action-item" (click)="comS.mailTo(customer)">
                  <button>
                    <span class="icon-mail-fill"></span>
                  </button>
                </li>
              </ul>
            </article>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="contacts-alphabet others" *ngIf="othersFound && othersFound.length">
      <li class="contacts-letter">
          <span class="contacts-letter__sticker">
              <span class="sticker-letter">{{comS.lang['label_others']}}</span>
          </span>
        <ul class="contacts-letter__list">
          <li class="contacts-letter__item" [attr.data-custid]="other.id" *ngFor="let other of othersFound">
            <article class="tab-content__container" (click)="comS.pushPage('main/contacts/' + other['id'])">
              <div class="avatar-client avatar-middle photo">
                <img [src]="other['photo_url'] ? other['photo_url'] : comS.defaultPhoto" alt="">
              </div>
              <div class="tab-content">
                <div class="name">
                  <p>{{other['last_name']}} {{other['first_name']}}</p>
                </div>
                <div class="phone">
                  <p>
                    <input type="text" disabled>
                  </p>
                </div>
              </div>
            </article>
            <article class="contact-actions">
              <ul class="actions-list">
                <li class="action-item" (click)="comS.pushPage('main/contacts/' + other['id'] + '/edit')">
                  <button class="active">
                    <span class="icon-notice"></span>
                  </button>
                </li>
                <li class="action-item">
                  <a href="tel:{{other && other['phone'] ? other['phone'] : ''}}">
                    <button>
                      <span class="icon-phone-fill"></span>
                    </button>
                  </a>
                </li>
                <li class="action-item" (click)="createDialog(other)">
                  <button>
                    <span class="icon-comment-fill"></span>
                  </button>
                </li>
                <li class="action-item" (click)="comS.mailTo(other)">
                  <button>
                    <span class="icon-mail-fill"></span>
                  </button>
                </li>

              </ul>
            </article>
          </li>
        </ul>
      </li>
    </ul>
  </section>
</main>
<app-main-footer [tab]="'contacts'"></app-main-footer>
<app-quick-access-overlay></app-quick-access-overlay>