@font-face {
    font-family: 'Font Awesome 5 Pro';
    src: url('FontAwesome5Pro-Regular.eot');
    src: local('Font Awesome 5 Pro Regular'), local('FontAwesome5Pro-Regular'),
        url('FontAwesome5Pro-Regular.eot?#iefix') format('embedded-opentype'),
        url('FontAwesome5Pro-Regular.woff2') format('woff2'),
        url('FontAwesome5Pro-Regular.woff') format('woff'),
        url('FontAwesome5Pro-Regular.ttf') format('truetype'),
        url('FontAwesome5Pro-Regular.svg#FontAwesome5Pro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

