<!--<div class="blurred-back blur"></div>-->
<section class="tab-container tab-single" *ngIf="show && showSingle">
  <div class="tab-buttons">
    <div class="tab-name" *ngFor="let tab of tabs" [class.active]="currentTab && currentTab === tab.id" [class.hidden]="tab.id !== 2 && isMoveRecord" [class.h-100]="tab.id === 2 && isMoveRecord">
      <span (click)="changeTab(tab.id)">{{tab.name}}</span>
    </div>
  </div>
  <div [ngSwitch]="currentTab" class="tab-content-wrapper">
    <app-add-client *ngSwitchCase="1"></app-add-client>
    <app-add-time [selectedDate]="recordInfo.time" [initTabFrom]="selectedTimeFrom" *ngSwitchCase="2"></app-add-time>
    <app-add-worker *ngSwitchCase="3"></app-add-worker>
    <app-add-service [services]="recordInfo.services.ids" *ngSwitchCase="4"></app-add-service>
    <article *ngSwitchDefault class="tab-content__container overflow">
      <ul class="fill-in__list">
        <li class="fill-in__tab" *ngIf="!recordInfo.client" (click)="changeTab(1)">
          <span class="icon-pluse"></span>
          <span>Добавить Клиента</span>
        </li>
        <li class="fill-in__tab" *ngIf="recordInfo.client" (click)="changeTab(1)">
          <div class="avatar-mini photo">
            <img [src]="recordInfo.client['photo_url'] ? recordInfo.client['photo_url'] : comS.defaultPhoto">
          </div>
          <div class="tab-content">
            <div class="name">
              <p>
                {{recordInfo.client['first_name']}} {{recordInfo.client['last_name']}}
              </p>
            </div>
            <div class="phone">
              <p>
                <!--{{recordInfo.client['phone']}}-->
                  <input type="text" title="" disabled>
              </p>
            </div>
          </div>
        </li>
        <li class="fill-in__tab">
          <span class="day" (click)="changeTab(2)">{{comS.formatDateTime(recordInfo.time.date, 'dd D MMM')}}</span>
          <!-- <span class="day">вт</span>
          <span class="number">26</span>
          <span class="month">февр.</span> -->
          <span class="time start" (click)="selectTimeTab(true)"><p>{{comS.lang['label_from']}}</p>{{recordInfo.time.time ? recordInfo.time.time : '--:--'}}</span>
          <span class="time end" (click)="selectTimeTab(false)">{{recordInfo.time.finish_time ? recordInfo.time.finish_time : '--:--'}}</span>
        </li>
        <li class="fill-in__tab" *ngIf="!recordInfo.worker">
          <span class="icon-pluse"></span>
          <span>Выбрать мастера</span>
        </li>
        <li class="fill-in__tab" *ngIf="recordInfo.worker">
          <div class="avatar-mini photo">
            <img [src]="recordInfo.worker['photo_url'] ? recordInfo.worker['photo_url'] : comS.defaultPhoto">
          </div>
          <div class="tab-content">
            <div class="name">
              <p>
                {{recordInfo.worker['first_name']}} {{recordInfo.worker['last_name']}}
              </p>
            </div>
          </div>
        </li>
        <li class="fill-in__tab" *ngIf="!recordInfo.services.ids.length" (click)="changeTab(4)">
          <span class="icon-pluse"></span>
          <span>Добавить Услугу</span>
        </li>
        <li class="fill-in__tab has-services" *ngIf="recordInfo.services.ids.length" (click)="changeTab(4)">
          <span>{{recordInfo.services.name}}</span>
          <!-- <span *ngFor="let service of recordInfo.services; let ser_i = index;">
            <span>{{ser_i > 0 ? ',' : ''}}{{service['name']}}</span>
          </span> -->
        </li>
      </ul>
    </article>
  </div>
  <button class="btn-side icon-check" *ngIf="recordInfo.worker && recordInfo.client && recordInfo.services.ids.length && !currentTab" (click)="addNewRecord()"></button>
</section>
<article class="tab-content__container tab-popup" *ngIf="show && !showSingle">
    <div class="popup-modal">
        <div class="popup-info">
            <span class="icon-check-circle"></span>
            <h3 class="popup-modal__subheading">
                {{comS.lang['hint_record_created']}}
            </h3>
            <span class="popup-notification__text">
                <p class="notification__text">{{comS.lang['label_record_client']}}
                    <span class="notification__client notification__text_strong"> {{recordInfo.client['first_name']}}</span>
                </p>
                <p class="notification__text">{{comS.lang['label_to_date_prefix']}} {{comS.getWeekDay(recordInfo.time.date)}}
                    <span class="notification__time notification__text_strong">{{comS.formatDateTime(recordInfo.time.date, 'D MMMM')}} {{comS.lang['label_on_date_postfix']}} {{this.recordInfo.time.time}}</span>
                </p>
            </span>
        </div>
        <div class="popup-modal__buttons">
            <div class="buttons-container">
                <button class="btn-popup__modal" (click)="goToRecord()">{{comS.lang['button_go_to_record']}}</button>
                <button class="btn-popup__modal" (click)="closeNewRecordModal()">{{comS.lang['button_go_back']}}</button>
            </div>
        </div>

    </div>
</article>