<section *ngIf="show" class="menu-personal container-menu__personal  dark-bg">
  <header class="header-personal header-side">
    <div class="header-personal__top">
      <div class="personal-top__left">
        <span class="main-notification icon-chevron-left back" (click)="comS.toggleSidebar(false)"></span>
      </div>
      <div class="personal-top____right">
        <span class="main-notification icon-mail" (click)="toNotifications('/main/messages')">
            <span *ngIf="notifications['messages']" class="counter-notification">{{notifications['messages']}}</span>
        </span>
        <span class="main-notification icon-notification" (click)="toNotifications('/notifications')">
            <span *ngIf="notifications['notifications']" class="counter-notification">{{notifications['notifications']}}</span>
        </span>
      </div>
    </div>
    <div class="header-personal__bottom">
      <div class="personal-avatar">
          <img [src]="comS.userInfo && comS.userInfo['photo_url'] ? comS.userInfo['photo_url'] : comS.defaultPhoto" alt="">
      </div>
      <div class="personal-info">
                            <span class="profile-name">
                                {{ comS.userInfo['first_name'] }} {{ comS.userInfo['last_name'] }}
                            </span>
        <span class="profile-city" *ngIf="comS.workerForProfile && comS.workerForProfile['location']">
                                {{comS.workerForProfile['location']['city']}}
                            </span>
        <button class="btn-profile">
          Вступить в компанию
        </button>
      </div>
    </div>
  </header>
  <ul class="menu-personal__list">
    <li *ngFor="let menu_top of menuList['top']" class="personal-li" (click)="make_action(menu_top)">
      {{menu_top['title']}}
      <span class="{{menu_top['left_icons']}}"></span>
      <span class="{{menu_top['right_icons']}}"></span>
    </li>
  </ul>
  <ul class="menu-personal__list">
    <li *ngFor="let menu_bottom of menuList['bottom']" class="personal-li" (click)="make_action(menu_bottom)">
      {{menu_bottom['title']}}
      <span class="{{menu_bottom['left_icons']}}"></span>
      <span class="{{menu_bottom['right_icons']}}"></span>
    </li>
  </ul>
</section>