<div class="search-section-wrapper" *ngIf="show">
  <section class="registration background-grey">
    <section class ="create-service__form">
      <div class="btn-position">
        <button class="btn-word" (click)="closeSearch()">{{comS.lang['button_close']}}</button>
      </div>
      <form action="/" class="personal-info__form">
        <label class="name">
          <input class="name-input active-bottom" type="text" [(ngModel)]="searchField" [ngModelOptions]="{standalone: true}" (keyup)="searchContent()" (change)="searchContent()" [placeholder]="comS.lang['label_' + searchComponent + '_name']">
          <span class="icon-pluse right-icon " (click)="searchContent('')"></span>
        </label>
      </form>
      <app-search-service *ngIf="searchComponent === 'service'"></app-search-service>
      <app-search-address *ngIf="searchComponent === 'address'"></app-search-address>
      <app-search-clients *ngIf="searchComponent === 'client'"></app-search-clients>
    </section>
  </section>
</div>