<app-header-menu [config]="headerConfig"></app-header-menu>
<app-add-record></app-add-record>
<ion-content>
  <main>
    <section class="section-support with-nav with-footer">
      <section class="section-notifications container-narrow">
        <div class="notifications-wrapper">
          <div class="notification-new" *ngFor="let notification of notifications">
            <div class="notification-heading">
              <span class="notification-status">{{notification.event}}</span>
              <div class="service-time">
                <span class="icon-clock"><span class="far fa-clock"></span></span>
                <span>{{comS.formatDateTime(notification.date, 'DD.MM')}} {{comS.lang['label_on_date_postfix']}} {{comS.formatDateTime(notification.date, 'HH:mm')}}</span>
              </div>
            </div>
            <div class="notification-content">
              <p>{{notification.text}}</p>
            </div>
            <!--<div class="notification-btns" >-->
            <!--<button *ngFor="let button of notification.buttons" [class]="button.className" (click)="classEntity[button.callback]()">{{button.label}}</button>-->
            <!--</div>-->
          </div>
        </div>
      </section>
    </section>
  </main>
</ion-content>
<app-main-footer [tab]="'schedule'"></app-main-footer>
<app-quick-access-overlay></app-quick-access-overlay>