<div class="popup-modal__overlay" *ngIf="alert_['show']">
  <div class="popup-modal">
    <h2 class="popup-modal__header" *ngIf="alert_['title']">
      {{ alert_['title'] }}
    </h2>
    <div class="popup-info">
      <span *ngIf="alert_['image']" [class]="alert_['image']"></span>
      <h3 class="popup-modal__subheading" *ngIf="alert_['text']['top']">
        {{ alert_['text']['top'] }}
      </h3>
      <p class="popup-modal__text" *ngIf="alert_['text']['message']">
        {{ alert_['text']['message'] }}
      </p>
      <div class="form-item" *ngIf="alert_['textField']">
        <label class="name-label">
          <span class="placeholder-span" [class.focused]="focusObject && (focusObject === 'field') || (textFieldValue && textFieldValue.length > 0)">{{alert_['textField']['placeholder']}}</span>
          <input [type]="alert_['textField']['type']" [(ngModel)]="textFieldValue" (change)="saveLocalField()" (focus)="fieldOnFocus('field')" (focusout)="fieldOutOfFocus('field')" maxlength="300">
          <p class="restriction" [class.focused]="focusObject && (focusObject === 'field') || (textFieldValue && textFieldValue.length > 0)">{{300 - (textFieldValue ? textFieldValue.length : 0)}}</p>
        </label>
      </div>
      <div class="popup-modal__buttons {{alert_['buttons']['containerClassName']}}">
        <button class="btn-popup__modal" *ngFor="let button of alert_['buttons']['array']" (click)="buttonsCallbackThrower(button.callback['method'])">{{button.title}}</button>
      </div>
    </div>
  </div>
</div>