<div class="heading">
  <h1 class="foreground-heading">{{ codeType === 'restore' ? comS.lang['title_login'] : comS.lang['title_register'] }}</h1>
  <p class="hint">{{comS.lang['hint_code_sended']}}</p>
</div>
<div>
  <span class="notification" *ngIf="codeType === 'restore'">{{comS.lang['hint_type_code']}} </span>
  <form (submit)="confirmNumber()" class="confirmation-code pad-for-auth" [formGroup]="signUpForm">
    <label class="code-label">
      <input class="code-input mask-text" type="tel" maxlength="1" (keyup)="validCodeSegment(signUpForm.controls['0'], 0, $event)" [formControl]="signUpForm.controls['0']">
      <span class="code-circle"></span>
    </label>
    <label class="code-label">
      <input class="code-input mask-text" type="tel" maxlength="1" (keyup)="validCodeSegment(signUpForm.controls['1'], 1, $event)" [formControl]="signUpForm.controls['1']">
      <span class="code-circle"></span>
    </label>
    <label class="code-label">
      <input class="code-input mask-text" type="tel" maxlength="1" (keyup)="validCodeSegment(signUpForm.controls['2'], 2, $event)" [formControl]="signUpForm.controls['2']">
      <span class="code-circle"></span>
    </label>
    <label class="code-label">
      <input class="code-input mask-text" type="tel" maxlength="1" (keyup)="validCodeSegment(signUpForm.controls['3'], 3, $event)" [formControl]="signUpForm.controls['3']">
      <span class="code-circle"></span>
    </label>
  </form>
  <button class="form-button" (click)="confirmNumber()" [class.form-button__fill]="signUpForm.valid">{{comS.lang['button_send_code']}}</button>
</div>
<div class="btns-help">
  <button class="btn-auxiliary" type="button" (click)="changeNumber()">{{comS.lang['label_change_number']}}</button>
  <button class="btn-auxiliary" type="button" (click)="sendCode()">{{comS.lang['label_resend']}}</button>
</div>