<div class="heading">
  <h1 class="foreground-heading">{{comS.lang['title_login']}}</h1>
  <p class="hint">{{!isExist ? comS.lang['hint_login'] : comS.lang['hint_login_password']}}</p>
</div>
<form (submit)="checkUser()" class="registration-form">
  <label class="input-icon " for="phone">
    <span class="icon-flag left-icon"></span>
    <span class="icon-checkmark right-icon block"></span>
  </label>
  <label for="">
    <input class="registration-input pad-for-auth registration-phone inputMask" id="phone" type="tel" [placeholder]="comS.phoneMask">
  </label>
  <input *ngIf="isExist"  class="registration-input" type="password" title="" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" placeholder="Пароль">
  <button *ngIf="!isExist" [class.form-button__fill]="selector && selector['inputmask'] && selector['inputmask'].isComplete()" [disabled]="!selector || !selector['inputmask'] || !selector['inputmask'].isComplete()" class="form-button">{{comS.lang['button_next']}}</button>
  <button *ngIf="isExist" [class.form-button__fill]="password && password.length" class="form-button">{{comS.lang['button_signin']}}</button>
</form>
<div class="btns-help">
  <button class="btn-auxiliary" *ngIf="isExist" (click)="sendRestoreCode()">{{comS.lang['label_forgot_password']}}</button>
</div>