<header class="header-main">
  <div class="container-narrow">
    <span class="back icon-chevron-left" (click)="comS.pushBack()"></span>
    <div class="personal-info__heading">
      <h1 class="heading-main">{{comS.lang['nav_title_change_profile']}}</h1>
    </div>
    <button class="btn-link" (click)="updateData()">{{comS.lang['button_done']}}</button>
  </div>
</header>
<ion-content>
  <section class="profile-correct with-nav">
    <div class="personal-info container-narrow">
      <div class="info-left personal-info__avatar">
        <div class="avatar {{(photoBase64Raw || (worker && worker.photo_url)) ? 'avatar-image' : 'icon-camera'}}" (click)="showComponentPicker('.photo-picker')">
          <img *ngIf="photoBase64Raw || (worker && worker.photo_url)" src="{{photoBase64Raw ? photoBase64Raw : (worker.photo_url ? worker.photo_url : comS.defaultPhoto)}}" alt="">
        </div>
        <input type="file" class="photo-picker" accept="image/*" (change)="photoPicked($event)">
      </div>
      <div class="info-right personal-info">
        <button class="btn-change-photo" (click)="showComponentPicker('.photo-picker')">{{comS.lang['label_change_photo']}}</button>
      </div>
    </div>
    <form [formGroup]="personalForm">
      <div class="form-item" *ngFor="let field of personalArray" [class.on-error]="personalForm.controls[field['formName']].errors && !field.noNeedToValidate && validateClicked">
        <label class="name-label">
          <span class="placeholder-span" [class.focused]="focusObject && (focusObject === field) || (personalForm.controls[field['formName']].value && personalForm.controls[field['formName']].value.length > 0)">{{field['placeholder']}}</span>
          <input [type]="field['type']" *ngIf="field['formName'] !== 'birth_date'" [formControl]="personalForm.controls[field['formName']]" (keyup)="searchAddress(field['formName'])" (focus)="fieldOnFocus(field, $event)" (focusout)="fieldOutOfFocus(field['formName'])" [maxlength]="field['restriction']">
          <span class="value-span" *ngIf="field['formName'] === 'birth_date'" (click)="showComponentPicker('#selectedBirthDate', field['formName'])">{{personalForm.controls[field['formName']].value}}</span>
          <ion-datetime id="selectedBirthDate" [(ngModel)]="selectedBirthDate" [ngModelOptions]="{standalone: true}" (ionChange)="dateChanged($event)" [displayFormat]="'YYYY-MM-DD'"></ion-datetime>
          <p class="restriction" *ngIf="field['hasRestriction']" [class.focused]="focusObject && (focusObject === field) || (personalForm.controls[field['formName']].value && personalForm.controls[field['formName']].value.length > 0)">{{field['restriction'] - (personalForm.controls[field['formName']].value ? personalForm.controls[field['formName']].value.length : 0)}}</p>
          <span class="icon-pluse-thin right-icon" (click)="clearFieldValue(personalForm.controls[field['formName']])" *ngIf="focusObject && (focusObject === field) || (personalForm.controls[field['formName']].value && personalForm.controls[field['formName']].value.length > 0)"></span>
        </label>
      </div>
    </form>
    <ion-select [(ngModel)]="selectedAddress" (ionChange)="addressChanged()" class="address_select" title="">
      <ion-select-option *ngFor="let address of searchData; let i = index;" [value]="address">{{address['display_name']}}</ion-select-option>
    </ion-select>
  </section>
  <app-cropper *ngIf="imageChangedEvent" [pickedPhoto]="imageChangedEvent" (photoCropped)="cropped($event)"></app-cropper>
</ion-content>