<ion-content>
  <section class="registration section-services">
    <header class="header-double">
      <div class="container-narrow">
        <span class="back icon-chevron-left" (click)="comS.pushBack()"></span>
        <div class="personal-info__heading">
          <h1 class="heading-main">{{comS.lang['nav_title_personal_services']}}</h1>
        </div>
      </div>
    </header>
    <div class="service container-narrow">
      <div>
        <form [formGroup]="serviceForm">
          <div class="form-item in-container" *ngFor="let field of services" [class.on-error]="serviceForm.controls[field['formName']].errors && !field.noNeedToValidate && validateClicked">
            <label class="name-label">
              <span class="placeholder-span" [class.focused]="focusObject && (focusObject === field) || (serviceForm.controls[field['formName']].value && serviceForm.controls[field['formName']].value.length > 0)">{{field['placeholder']}}</span>
              <input [type]="field['type']" *ngIf="field.formName !== 'time' && field.formName !== 'category' && field.formName !== 'service_name' && field.formName !== 'describe'" [formControl]="serviceForm.controls[field['formName']]" (focus)="fieldOnFocus(field, $event)" (focusout)="fieldOutOfFocus(field['formName'])" [maxlength]="field['restriction']">
              <textarea *ngIf="field.formName === 'describe'" rows="1" [formControl]="serviceForm.controls[field['formName']]" (keyup)="comS.resizeTextArea($event)" (focus)="fieldOnFocus(field, $event)" (focusout)="fieldOutOfFocus(field['formName'])" [maxlength]="field['restriction']"></textarea>
              <span *ngIf="field.formName === 'describe'" class="textAreaValue">{{serviceForm.controls[field['formName']].value}}</span>
              <span class="value-span" *ngIf="field['formName'] === 'time'" (click)="openPicker('.' + field.formName + '-picker')">{{serviceForm.controls[field['formName']].value}}</span>
              <span class="value-span" *ngIf="field['formName'] === 'category'" (click)="comS.pushPage('/select-category')">{{serviceForm.controls[field['formName']].value}}</span>
              <span class="value-span" *ngIf="field['formName'] === 'service_name'" (click)="showSearch()">{{serviceForm.controls[field['formName']].value}}</span>
              <ion-datetime [class]="field.formName + '-picker'" *ngIf="field.formName === 'time'" [(ngModel)]="duration" [ngModelOptions]="{standalone: true}" (ionChange)="durationChanged($event)" [displayFormat]="'H:mm'" [minuteValues]="'00,05,10,15,20,25,30,35,40,45,50,55'"></ion-datetime>
              <p class="restriction" *ngIf="field['hasRestriction']" [class.focused]="focusObject && (focusObject === field) || (serviceForm.controls[field['formName']].value && serviceForm.controls[field['formName']].value.length > 0)">{{field['restriction'] - (serviceForm.controls[field['formName']].value ? serviceForm.controls[field['formName']].value.length : 0)}}</p>
              <span class="icon-pluse-thin right-icon" (click)="clearFieldValue(serviceForm.controls[field['formName']], field['formName'])" *ngIf="focusObject && (focusObject === field) || (serviceForm.controls[field['formName']].value && serviceForm.controls[field['formName']].value.length > 0)"></span>
            </label>
          </div>
        </form>
        <div class="switcher">
          <span>{{comS.lang['label_online_record']}}</span>
          <input type="checkbox" id="registration" [(ngModel)]="onlineRegister" [ngModelOptions]="{standalone: true}">
          <label for="registration"></label>
        </div>
      </div>
    </div>
    <div class="btn-section">
      <button class="form-button__fill" (click)="saveService()">{{comS.lang['button_save']}}</button>
      <!--<button class="form-button__fill" [class.form-button__fill_dark]="!serviceForm.valid" [disabled]="!serviceForm.valid" (click)="saveService()">{{comS.lang['button_save']}}</button>-->
      <button class="form-button__fill_dark" (click)="comS.pushBack()">{{comS.lang['button_cancel']}}</button>
    </div>
  </section>
</ion-content>
