<form [formGroup]="serviceForm">
    <div class="form-item in-container" *ngFor="let field of services" [class.on-error]="serviceForm.controls[field['formName']].errors && !field.noNeedToValidate && validateClicked">
        <label class="name-label">
            <span class="placeholder-span" *ngIf="field['formName'] !== 'time'" [class.focused]="focusObject && (focusObject === field) || (serviceForm.controls[field['formName']].value && serviceForm.controls[field['formName']].value.length > 0)">{{field['placeholder']}}</span>
            <span class="placeholder-span" *ngIf="field['formName'] === 'time'" [class.focused]="focusObject && (focusObject === field) || duration">{{field['placeholder']}}</span>
            <input [type]="field['type']" *ngIf="field['formName'] !== 'time' && field['formName'] !== 'service_name' && field['formName'] !== 'describe'" [formControl]="serviceForm.controls[field['formName']]" (focus)="fieldOnFocus(field, $event)" (focusout)="fieldOutOfFocus(field['formName'])" [maxlength]="field['restriction']">
            <textarea *ngIf="field.formName === 'describe'" rows="1" [formControl]="serviceForm.controls[field['formName']]" (keyup)="comS.resizeTextArea($event)" (focus)="fieldOnFocus(field, $event)" (focusout)="fieldOutOfFocus(field['formName'])" [maxlength]="field['restriction']"></textarea>
            <span *ngIf="field.formName === 'describe'" class="textAreaValue">{{serviceForm.controls[field['formName']].value}}</span>
            <span class="value-span" *ngIf="field['formName'] === 'time'" (click)="openPicker('.duration-picker')">{{duration ? comS.formatDateTime(this.duration, 'H:mm') : ''}}</span>
            <span class="value-span" *ngIf="field['formName'] === 'service_name'" (click)="showSearch()">{{serviceForm.controls[field['formName']].value}}</span>
            <p class="restriction" *ngIf="field['hasRestriction']" [class.focused]="focusObject && (focusObject === field) || (serviceForm.controls[field['formName']].value && serviceForm.controls[field['formName']].value.length > 0)">{{field['restriction'] - (serviceForm.controls[field['formName']].value ? serviceForm.controls[field['formName']].value.length : 0)}}</p>
            <span class="icon-pluse-thin right-icon" (click)="clearFieldValue(serviceForm.controls[field['formName']])" *ngIf="(focusObject && (focusObject === field) || (serviceForm.controls[field['formName']].value && serviceForm.controls[field['formName']].value.length > 0)) && (field['formName'] !== 'time')"></span>
        </label>
    </div>
</form>
<div class="switcher">
  <p>{{comS.lang['label_online_record']}}</p>
  <input class="switcher-input" type="checkbox" id= "check" [(ngModel)]="onlineRegister" [ngModelOptions]="{standalone: true}"/>
  <label class="switcher-label" for="check"></label>
</div>
<!--<div class="switcher">-->
  <!--<p>Назначить сотрудника </p>-->
  <!--<span class="icon-pluse"></span>-->
<!--</div>-->
<div class="btns-form">
  <button class="form-button__fill" (click)="saveService()">{{comS.lang['button_save']}}</button>
  <button class="form-button__fill_dark" (click)="cancelEnter()">{{comS.lang['button_cancel']}}</button>
</div>