<section class="section-support section-appointment">
  <header class="header-main header-triple">
    <div class="container-narrow">
      <span class="back icon-chevron-left" (click)="comS.pushBack()"></span>
      <div class="personal-info__heading">
        <h1 class="heading-main">{{comS.lang['nav_title_new_record']}}</h1>
      </div>
      <button class="btn-link icon-notification"></button>
    </div>
    <div class="box-appointment" [class.blur]="headerBlur">
      <div class="app-info">
        <span class="app-info__number">{{comS.lang['label_record']}} <span>№{{recordId ? recordId : 0}}</span></span>
        <span class="app-info__date">{{record ? comS.formatDateTime(record['created_at'], 'D MMMM, H:mm') : ''}}</span>
      </div>
      <div class="app-btns">
        <button class="form-button__fill" *ngIf="isNewRecord" (click)="approveRecord()">{{comS.lang['button_accept']}}</button>
        <button class="form-button__fill" *ngIf="isActiveRecord" (click)="moveRecord()">{{comS.lang['button_move']}}</button>
        <button class="form-button__fill_dark" (click)="openAlert()">{{comS.lang['button_cancel']}}</button>
      </div>
    </div>
  </header>
  <ion-content>
    <main>
      <section class="contacts-list">
        <div class="contacts-letter__item">
          <article class="app-item" *ngIf="record && record['services']">
            <p class="service">{{comS.lang['label_service']}}</p>
            <div class="app-item__flex">
              <p class="service service-name__dark">
              <span *ngFor="let service of record['services']; let i = index">
                {{service['name']}}({{service['section_id']}})<span *ngIf="i !== record['services'].length - 1">,</span>
              </span>
              </p>
              <button class="icon-pluse-circle" (click)="addNewServicesOpen = !addNewServicesOpen;" *ngIf="isActiveRecord"></button>
            </div>
          </article>
          <article class="app-item" *ngIf="freeTime && isActiveRecord && !addNewServicesOpen">
            <div class="app-item__flex">
              <p class="service">Доступно для записи</p>
              <span class="duration">{{freeTime.hours !== 0 ? freeTime.hours + ' час(ов)' : ''}} {{freeTime.minutes !== 0 ? freeTime.minutes + ' минут(а)' : ''}}</span>
            </div>
          </article>
          <div *ngIf="addNewServicesOpen" class="master-services-list">
            <div *ngFor="let section of masterServices; let sec_i = index;">
              <div *ngFor="let service of section['services']; let ser_i = index;">
                <div class="mark" *ngIf="service['status_id'] === 29">
                  <input class="mark-input" name="selectedService" [checked]="serviceProviders && serviceProviders.indexOf(service['provider_id']) !== -1" [value]="service['provider_id']" [attr.data-service-name]="service['name']" id="switch{{service['provider_id']}}" type="checkbox">
                  <label class="mark-label" for="switch{{service['provider_id']}}">{{service['name']}}({{section['id']}})</label>
                </div>
              </div>
            </div>
            <button class="form-button__fill" (click)="showAddServiceTimeModal()">{{comS.lang['button_save']}}</button>
          </div>
        </div>
        <div class="contacts-letter__item">
          <article class="tab-content__container" *ngIf="record && record['customer']">
            <div class="avatar-client avatar-middle photo">
              <img [src]="record['customer']['photo_url'] ? record['customer']['photo_url'] : comS.defaultPhoto" alt="">
            </div>
            <div class="tab-content">
              <div class="name">
                <p>
                  {{record['customer']['first_name']}} {{record['customer']['last_name']}}
                </p>
              </div>
              <div class="phone">
                <p>
                  <input type="text" [attr.data-phone]="record['customer']['phone']">
                  <!--{{record['customer']['phone'] | phoneFormat}}-->
                </p>
              </div>
            </div>
          </article>
          <article class="contact-actions" *ngIf="record && record['customer']">
            <ul class="actions-list">
              <li class="action-item">
                <a href="tel:+{{record && record['customer']['phone'] ? record['customer']['phone'] : ''}}">
                  <button>
                  <span class="icon-phone-fill">
                  </span>
                  </button>
                </a>
              </li>
              <li class="action-item">
                <button (click)="createDialog(record && record['customer']? record['customer']['phone'] : null)">
                  <span class="icon-comment-fill"></span>
                </button>
              </li>
              <li class="action-item">
                <button (click)="comS.mailTo(record && record['customer'] ? record['customer'] : null)">
                  <span class="icon-mail-fill"></span>
                </button>
              </li>

            </ul>
          </article>
        </div>
        <div class="contacts-letter__item">
          <article class="app-item">
            <p class="service">{{comS.lang['label_time']}}</p>
            <div class="app-item__flex">
              <p class="service service-name__deep">{{record ? comS.formatDateTime(record['date'], 'dddd D MMMM,') : ''}} <span>{{record ? record['start_time'] : ''}}</span></p>
              <div class="delimeter">--</div>
              <p class="service service-name__deep">{{record ? comS.formatDateTime(record['finish_date'], 'dddd D MMMM,') : ''}} <span>{{record ? record['finish_time'] : ''}}</span></p>
            </div>
          </article>
        </div>
        <div class="contacts-letter__item ">
          <article class="app-item app-item-mini">
            <div class="app-item__flex">
              <p class="service">{{comS.lang['label_notify_day']}}</p>
              <div class="switcher">
                <input class="switcher-input" [(ngModel)]="dayNotify" (change)="changeNotify('day')" type="checkbox" id= "check"/>
                <label class="switcher-label" for="check"></label>
              </div>
            </div>
          </article>
        </div>
        <div class="contacts-letter__item ">
          <article class="app-item app-item-mini">
            <div class="app-item__flex">
              <p class="service">{{comS.lang['label_notify_hour']}}</p>
              <div class="switcher">
                <input class="switcher-input" [(ngModel)]="hourNotify" (change)="changeNotify('hour')" type="checkbox" id= "check1"/>
                <label class="switcher-label" for="check1"></label>
              </div>
            </div>
          </article>
        </div>
        <div class="contacts-letter__item " *ngIf="record && record['notes']">
          <article class="app-item">
            <div class="app-item__flex">
              <p class="service">{{comS.lang['label_note']}}</p>
              <p class="service">{{record && record['notes_time'] ? this.comS.getMomentObject(this.record['notes_time'] * 1000).calendar() : ''}}</p>
            </div>
            <p class="app-item__text">{{record['notes']}}</p>
          </article>
        </div>
        <div class="contacts-letter__item message-menu__bottom" *ngIf="isActiveRecord">
          <!--<button class="icon-pluse"></button>-->
          <div class="form-item w-100">
            <label class="name-label">
              <span class="placeholder-span" [class.focused]="focusObject && (focusObject === 'note') || note">{{comS.lang['label_add_note']}}</span>
              <!--<input type="text" [(ngModel)]="note" (focus)="fieldOnFocus('note')" (focusout)="fieldOutOfFocus()">-->
              <span class="textAreaValue">{{note}}</span>
              <textarea rows="1" [(ngModel)]="note" (keyup)="comS.resizeTextArea($event)" (focus)="fieldOnFocus('note')" (focusout)="fieldOutOfFocus()"></textarea>
              <span class="icon-pluse-thin right-icon" (click)="clearFieldValue(note)" *ngIf="focusObject && (focusObject === 'note') || note"></span>
            </label>
          </div>
          <button class="icon-telegramm" (click)="addNote()"></button>
        </div>
      </section>
    </main>
  </ion-content>
</section>
<app-add-record></app-add-record>

