<!--<main class="dark-bg" [class.blur]="showQuickAccess">-->
  <!--&lt;!&ndash;<app-header-menu></app-header-menu>&ndash;&gt;-->
  <!--<ion-router-outlet [class.blur]="showNewRecordModal"></ion-router-outlet>-->
  <!--<app-add-record></app-add-record>-->
  <!--&lt;!&ndash;<footer class="main-menu__bottom">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="menu-bottom__left">&ndash;&gt;-->
      <!--&lt;!&ndash;<button *ngFor="let leftButton of tabs['left']" class="{{leftButton['classNames']}}" [class.active]="leftButton['tab'] === currentTab" (click)="selectTab(leftButton)">&ndash;&gt;-->
      <!--&lt;!&ndash;</button>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="menu-bottom__center">&ndash;&gt;-->
      <!--&lt;!&ndash;<span class="btn-bg icon-plus" *ngIf="comS.workerInfo" (click)="openNewRecord()"></span>&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;<span class="btn-bg icon-paperclip" (click)="openNewRecord()"></span>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="menu-bottom__button"></div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="menu-bottom__right">&ndash;&gt;-->
      <!--&lt;!&ndash;<button *ngFor="let rightButton of tabs['right']" [class.active]="rightButton['tab'] === currentTab" class="{{rightButton['classNames']}}" (click)="selectTab(rightButton)">&ndash;&gt;-->
      <!--&lt;!&ndash;</button>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
  <!--&lt;!&ndash;</footer>&ndash;&gt;-->
<!--</main>-->
<!--<app-quick-access-overlay></app-quick-access-overlay>-->
