@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?q0wqrh');
  src:  url('fonts/icomoon.eot?q0wqrh#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?q0wqrh') format('truetype'),
    url('fonts/icomoon.woff?q0wqrh') format('woff'),
    url('fonts/icomoon.svg?q0wqrh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-left-thin:before {
  content: "\e900";
}
.icon-chevron-right-thin:before {
  content: "\e901";
}
.icon-dropdown:before {
  content: "\e902";
}
.icon-star-fill:before {
  content: "\e903";
}
.icon-close:before {
  content: "\e904";
}
.icon-pluse-thin:before {
  content: "\e905";
}
.icon-pluse:before {
  content: "\e906";
}
.icon-mail:before {
  content: "\e907";
}
.icon-notification:before {
  content: "\e908";
}
.icon-notification-fill:before {
  content: "\e909";
}
.icon-eye-blocked:before {
  content: "\e90a";
}
.icon-eye:before {
  content: "\e90b";
}
.icon-paperclip:before {
  content: "\e90c";
}
.icon-pluse-circle:before {
  content: "\e90d";
}
.icon-chevron-circle:before {
  content: "\e90e";
}
.icon-notice:before {
  content: "\e90f";
}
.icon-phone-fill:before {
  content: "\e910";
}
.icon-comment-fill:before {
  content: "\e911";
}
.icon-mail-fill:before {
  content: "\e912";
}
.icon-trash-fill:before {
  content: "\e913";
}
.icon-trash:before {
  content: "\e914";
}
.icon-view2:before {
  content: "\e915";
}
.icon-view:before {
  content: "\e916";
}
.icon-options:before {
  content: "\e917";
}
.icon-case:before {
  content: "\e918";
}
.icon-user:before {
  content: "\e919";
}
.icon-calendar:before {
  content: "\e91a";
}
.icon-star:before {
  content: "\e91b";
}
.icon-settings:before {
  content: "\e91c";
}
.icon-add-file:before {
  content: "\e91d";
}
.icon-exit:before {
  content: "\e91e";
}
.icon-imprint:before {
  content: "\e91f";
}
.icon-camera:before {
  content: "\e920";
}
.icon-telegramm:before {
  content: "\e921";
}
.icon-calendar2:before {
  content: "\e922";
}
.icon-burger-thin:before {
  content: "\e923";
}
.icon-burger:before {
  content: "\e924";
}
.icon-part:before {
  content: "\e925";
}
.icon-perced:before {
  content: "\e926";
}
.icon-graphic:before {
  content: "\e927";
}
.icon-help:before {
  content: "\e928";
}
.icon-arrow:before {
  content: "\e929";
}
.icon-push:before {
  content: "\e92a";
}
.icon-card:before {
  content: "\e92b";
}
.icon-key:before {
  content: "\e92c";
}
.icon-icon-54:before {
  content: "\e92d";
}
.icon-search:before {
  content: "\e92e";
}
.icon-chevron-left:before {
  content: "\e92f";
}
.icon-chevron-right:before {
  content: "\e930";
}
.icon-check:before {
  content: "\e931";
}
.icon-check-fill:before {
  content: "\e932";
}
