<header class="header-personal">
    <div class="container-narrow">
        <span class="back icon-chevron-left" (click)="comS.pushBack()"></span>
        <div class="personal-info__heading">
            <h1 class="heading-main">Мои работы</h1>
            <button class="btn-link" (click)="comS.pushPage('/order-delete')">Изменить</button>
        </div>
    </div>
</header>
<ion-content>
  <section class="personal-works container-menu__personal with-nav">
      <div class="overlay"></div>
      <div class="control-panel">
          <div class="panel-btns">
              <button class="panel-view {{isGridView ? 'icon-view2' : 'icon-view'}}" (click)="isGridView = !isGridView"></button>
              <button class="panel-add icon-pluse" (click)="comS.pushPage('/new-work')"></button>
          </div>
      </div>
      <div class="albums-my" *ngIf="works && works['data'] && works['data'].length">
          <ul class="album-list" [class.grid]="isGridView">
              <li class="albums-list__item" *ngFor="let worker_work of works['data']">
                  <div class="albums-my__preview photo photo1" (click)="comS.pushPage('/view-work/' + worker_work['id'])">
                      <img *ngIf="worker_work['photo_files'].length > 0" [src]="worker_work['photo_files'][0]['path'] ? worker_work['photo_files'][0]['path'] : ''" alt="">
                  </div>
                  <h3 class="albums__name">{{worker_work.title}}</h3>
                  <time class="albums__date">{{comS.formatDateTime(worker_work['created_at'], 'DD.MM')}}</time>
              </li>
          </ul>
      </div>
  </section>
</ion-content>