<header *ngIf="!isDragging" class="header-personal">
  <div class="container-narrow">
    <span class="back icon-chevron-left" (click)="comS.pushBack()"></span>
    <div class="personal-info__heading">
      <h1 class="heading-main">{{comS.lang['sidebar_my_works']}}</h1>
    </div>
    <button class="btn-link" (click)="completeReorder()">{{comS.lang['button_done']}}</button>
  </div>
</header>
<ion-content>
  <section class="works-list container-menu with-nav" [class.drag-overlay]="isDragging">
    <div class="list-wrapper header-delete" *ngIf="isDragging">
      <div class="icon-trash header-delete"></div>
    </div>
    <ion-reorder-group (ionItemReorder)="doReorder($event)" [disabled]="false" *ngIf="albums.worker && albums.worker.length > 0">
      <div class="list-wrapper" [attr.data-work-id]="works['id']" *ngFor="let works of albums.worker; let i = index;">
        <div class="works-list__li">
          <div class="works-list__photo1 photo">
            <img *ngIf="works['photo_files'].length > 0" [src]="works['photo_files'][0]['path']" alt="">
          </div>
          <div class="works-list__info">
            <h3 class="albums__name">{{works.title}}</h3>
            <time class="albums__date">{{comS.formatDateTime(works['created_at'], 'DD.MM.YY')}}</time>
          </div>
          <ion-reorder class="works-list__burger icon-burger" slot="end" (touchstart)="onDrag($event, i)" (touchend)="touchend($event, works)"></ion-reorder>
        </div>
      </div>
    </ion-reorder-group>
  </section>

</ion-content>