<footer class="main-menu__bottom">
  <div class="menu-bottom__left">
    <button *ngFor="let leftButton of tabs['left']" class="{{leftButton['classNames']}}" [class.active]="leftButton['tab'] === tab" (click)="selectTab(leftButton)"
    [innerHTML]="leftButton.child ? leftButton.child : ''">
    </button>
  </div>
  <div class="menu-bottom__center">
    <span class="btn-bg icon-pluse" (click)="openNewRecord()"></span>
    <!--<span class="btn-bg icon-paperclip" (click)="openNewRecord()"></span>-->
  </div>
  <div class="menu-bottom__button"></div>
  <div class="menu-bottom__right">
    <button *ngFor="let rightButton of tabs['right']" class="{{rightButton['classNames']}}" [class.active]="rightButton['tab'] === tab" (click)="selectTab(rightButton)">
    </button>
  </div>
</footer>