<app-header-menu [config]="headerConfig"></app-header-menu>
<app-add-record></app-add-record>
<ion-content class="dark-bg">
  <main class="dark-bg">
    <!--<section class="with-nav">-->
      <!--<button class="btn-fill__mini" (click)="connectToRoom()">create dialog</button>-->
      <!--<button class="btn-fill__mini" (click)="sendMessage()">send message</button>-->
    <!--</section>-->

    <!--<input type="text" [(ngModel)]="message">-->

    <section class="section-messages__preview with-nav with-footer">
                      <ul class="messages-preview__list">
                          <li class="messages-preview__item" [class.active]="newMessageInDialogue.indexOf(dialog['id']) !== -1" *ngFor="let dialog of dialogs.data" (click)="comS.pushPage('/main/messages/dialogue/' + dialog['id'])">
                              <div class="photo-wrapper">
                                  <div class="photo avatar-middle avatar-image">
                                      <img [src]="dialog.dialog_users && dialog.dialog_users.length > 0 && dialog.dialog_users[0]['photo_url'] ? dialog.dialog_users[0]['photo_url'] : comS.defaultPhoto" alt="">
                                      <!--<img [src]="customer['photo_url'] ? customer['photo_url'] : comS.defaultPhoto" alt="">-->
                                  </div>
                              </div>
                              <div class="preview-box">
                                  <span class="contacts-new__quantity" *ngIf="dialog.dialog_users && dialog.dialog_users.length > 0">{{dialog.dialog_users[0]['customer_id'] ? (dialog.dialog_users[0]['first_name'] + ' ' + dialog.dialog_users[0]['last_name']) : ''}}
                                      <input type="text" title="" [attr.data-custphone]="dialog.dialog_users[0]['phone']" disabled *ngIf="!dialog.dialog_users[0]['customer_id']"></span>
                                  <span class="message-preview" *ngIf="dialog['messages'] && dialog['messages'].length > 0">
                                      {{dialog['messages'][0]['message'] ? dialog['messages'][0]['message'] : dialog['messages'][0]['text']}}
                                  </span>
                              </div>
                              <span class="date">Суббота</span>
                              <span class="unread" *ngIf="newMessageInDialogue.indexOf(dialog['id']) !== -1"></span>
                          </li>
                      </ul>
                  </section>
  </main>

</ion-content>
<app-main-footer [tab]="'messages'"></app-main-footer>
<app-quick-access-overlay></app-quick-access-overlay>