<app-header-menu [config]="headerConfig"></app-header-menu>
<!--<app-add-record></app-add-record>-->
<ion-content>
  <main>
    <div class="company-schedule container-menu with-nav">
      <div class="workflow-table" *ngIf="workflowTable">
        <div class="workflow-row" *ngFor="let workflowRow of workflowTable; let i = index;">
          <div class="table-day">
            {{workflowRow['dayShort']}}
          </div>
          <div class="switcher">
            <input class="switcher-input" [(ngModel)]="workflowRow['isChecked']" (ngModelChange)="updateDayState(workflowRow)" [ngModelOptions]="{standalone: true}" type="checkbox" id= "check{{i}}"/>
            <label class="switcher-label" for="check{{i}}"></label>
          </div>
          <div class="table-start table-time opacity">
            <div class="table-time__top">
              <span (click)="showComponentPicker('#pickerStart' + i)">{{comS.formatTime(workflowRow['timeStart'], 'HH:mm', 'H:mm')}}</span>
              <ion-datetime id="pickerStart{{i}}" [cancelText]="comS.lang['button_picker_cancel']"  (ionChange)="timeChanged(workflowRow, true)" [doneText]="comS.lang['button_picker_done']" [(ngModel)]="workflowRow['timeStart']" [ngModelOptions]="{standalone: true}" [max]="comS.oneHoureLess(workflowRow['timeEnd'])" displayFormat="{{workflowTableTimeFormat}}"></ion-datetime>
            </div>
            <div class="table-time__bottom">
              <p>{{comS.lang['label_begin']}}</p>
            </div>
          </div>
          <div class="table-end table-time opacity">
            <div class="table-time__top">
              <span (click)="showComponentPicker('#pickerEnd' + i)">{{comS.formatTime(workflowRow['timeEnd'], 'HH:mm', 'H:mm')}}</span>
              <ion-datetime id="pickerEnd{{i}}" [cancelText]="comS.lang['button_picker_cancel']" (ionChange)="timeChanged(workflowRow, false)" [doneText]="comS.lang['button_picker_done']" [(ngModel)]="workflowRow['timeEnd']" [ngModelOptions]="{standalone: true}" [min]="comS.roundMinHours(workflowRow['timeStart'])" displayFormat="{{workflowTableTimeFormat}}"></ion-datetime>
            </div>
            <div class="table-time__bottom">
              <p>{{comS.lang['label_end']}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

</ion-content>
<!--<app-main-footer [tab]="'schedule'"></app-main-footer>-->
<!--<app-quick-access-overlay></app-quick-access-overlay>-->