<header class="header-main header-double ">
  <div class="container-narrow">
    <span class="back icon-chevron-left" (click)="comS.pushBack()"></span>
    <div class="personal-info__heading">
      <h1 class="heading-main">Изменить Язык</h1>
    </div>
    <button class="btn-link" (click)="updateLanguage()">{{comS.lang['button_done']}}</button>
  </div>
</header>
<ion-content>
  <section class="section-views section-settings with-nav">
    <ul class="settings-list__language container-narrow">
      <li class="settings-item" *ngFor="let lang of languages">
        <h2 class="settings-item__language item-center">{{lang.name}}</h2>
        <div class="mark list-item__right">
          <input class="mark-input" name="selectedLanguage" [checked]="lang.id === comS.userInfo.lang_id" [value]="lang.id" id="radio{{lang.id}}" type="radio">
          <label class="mark-label" for="radio{{lang.id}}"></label>
        </div>
      </li>
    </ul>
  </section>
</ion-content>