<app-header-menu [config]="headerConfig"></app-header-menu>
<ion-content>
  <section class="correct-profile__client with-nav with-footer">
    <div class="correct-avatar personal-info__avatar">
      <div class="avatar-client avatar-image {{(photoBase64Raw || (customer && customer.user.photo_url)) ? '' : 'icon-camera'}}" (click)="showComponentPicker('.photo-picker')">
        <img *ngIf="photoBase64Raw || (customer && customer.user.photo_url)" src="{{photoBase64Raw ? photoBase64Raw : (customer.user.photo_url ? customer.user.photo_url : comS.defaultPhoto)}}" alt="">
      </div>
      <input type="file" class="photo-picker" accept="image/*" (change)="photoPicked($event)">
      <button class="btn-change-photo" (click)="showComponentPicker('.photo-picker')">{{comS.lang['label_change_photo']}}</button>
    </div>
    <form [formGroup]="customerForm">
      <div class="form-item" *ngFor="let field of personalArray" [class.on-error]="customerForm.controls[field['formName']].errors && !field.noNeedToValidate && validateClicked">
        <label class="name-label">
          <span class="placeholder-span" [class.focused]="focusObject && (focusObject === field) || (customerForm.controls[field['formName']].value && customerForm.controls[field['formName']].value.length > 0)">{{field['placeholder']}}</span>
          <input [type]="field['type']" *ngIf="field['formName'] !== 'birth_date'" [formControl]="customerForm.controls[field['formName']]" [attr.data-form-name]="field['formName']" (focus)="fieldOnFocus(field, $event)" (focusout)="fieldOutOfFocus(field['formName'])" [maxlength]="field['restriction']">
          <span class="value-span" *ngIf="field['formName'] === 'birth_date'" (click)="showComponentPicker('#selectedBirthDate')">{{customerForm.controls[field['formName']].value}}</span>
          <ion-datetime id="selectedBirthDate" [(ngModel)]="selectedBirthDate" [ngModelOptions]="{standalone: true}" (ionChange)="dateChanged($event)" [displayFormat]="'YYYY-MM-DD'"></ion-datetime>
          <p class="restriction" *ngIf="field['hasRestriction']" [class.focused]="focusObject && (focusObject === field) || (customerForm.controls[field['formName']].value && customerForm.controls[field['formName']].value.length > 0)">{{field['restriction'] - (customerForm.controls[field['formName']].value ? customerForm.controls[field['formName']].value.length : 0)}}</p>
          <span class="icon-pluse-thin right-icon" (click)="clearFieldValue(customerForm.controls[field['formName']])" *ngIf="focusObject && (focusObject === field) || (customerForm.controls[field['formName']].value && customerForm.controls[field['formName']].value.length > 0)"></span>
        </label>
      </div>
    </form>
    <button class="form-button__fill" (click)="showDeleteAlert()" *ngIf="!isNewCustomer">Удалить контакт</button>
  </section>

  <app-cropper *ngIf="imageChangedEvent" [pickedPhoto]="imageChangedEvent" (photoCropped)="cropped($event)"></app-cropper>
</ion-content>