<div class="cropper-container" [class.showed]="cropper.opened">
  <image-cropper
          [imageChangedEvent]="pickedPhoto"
          [maintainAspectRatio]="false"
          [aspectRatio]="16/9"
          [resizeToWidth]="512"
          format="jpg"
          (imageCropped)="imageCropped($event)"
          (imageLoaded)="imageLoaded()"
          (loadImageFailed)="loadImageFailed()"
  ></image-cropper>
  <div class="btns-group">
    <button class="form-button form-button__fill" (click)="closeCropper(false)">{{comS.lang['button_picker_cancel']}}</button>
    <button class="form-button form-button__fill" (click)="closeCropper(true)">{{comS.lang['button_save']}}</button>
  </div>
</div>