<ion-app [class]="deviceClassName">
  <ion-router-outlet [swipeGesture]="false" [class.blur]="alertShow"></ion-router-outlet>
  <app-popup-hint></app-popup-hint>
  <app-search></app-search>
  <app-sidebar></app-sidebar>
  <app-alert></app-alert>
</ion-app>
