<header class="header-main no-shadow">
  <div class="container-narrow">
    <span class="back icon-chevron-left" (click)="comS.pushBack()"></span>
    <div class="personal-info__heading">
      <h1 class="heading-main">{{comS.lang['nav_title_records_archive']}}</h1>
    </div>
  </div>
</header>
<div class="contacts-filter-container">
  <div class="box-search">
    <label class="search-label__dark">
      <span class="icon-search"></span>
      <input class="search-input" type="text" placeholder="Поиск" [(ngModel)]="searchRecords" (ngModelChange)="filterRecords()">
    </label>
  </div>
  <!--<div class="box-filter">-->
    <!--<ul class="filter-list">-->
      <!--<li class="filter-list__item">-->
        <!--<button class="filter-name active-scroll"><p>Все</p></button>-->
      <!--</li>-->
      <!--<li class="filter-list__item">-->
        <!--<button class="filter-name"><p>Запись</p></button>-->
      <!--</li>-->
      <!--<li class="filter-list__item">-->
        <!--<button class="filter-name"><p>Постояный</p></button>-->
      <!--</li>-->
      <!--<li class="filter-list__item">-->
        <!--<button class="filter-name"><p>Переписка</p></button>-->
      <!--</li>-->
      <!--<li class="filter-list__item">-->
        <!--<button class="filter-name"><p>День</p><p>Pождения</p></button>-->
      <!--</li>-->
      <!--<li class="filter-list__item">-->
        <!--<button class="filter-name"><p>Все</p></button>-->
      <!--</li>-->
      <!--<li class="filter-list__item">-->
        <!--<button class="filter-name"><p>Запись</p></button>-->
      <!--</li>-->
      <!--<li class="filter-list__item">-->
        <!--<button class="filter-name"><p>Постояный</p></button>-->
      <!--</li>-->
      <!--<li class="filter-list__item">-->
        <!--<button class="filter-name"><p>Переписка</p></button>-->
      <!--</li>-->
      <!--<li class="filter-list__item">-->
        <!--<button class="filter-name"><p>День</p><p>Pождения</p></button>-->
      <!--</li>-->
    <!--</ul>-->
  <!--</div>-->
</div>


<ion-content>
  <section class="section-archive container-narrow section" *ngIf="recordsFiltered">
    <div class="personal-archive__card light-border" *ngFor="let record of recordsFiltered">
      <div class="archive-card__heading">
        <div class="service">
          <span *ngFor="let service of record['service_providers']; let i = index;">
            {{service['name']}}<span *ngIf="i !== record['service_providers'].length - 1">,</span>
          </span>
        </div>
        <div class="service-time">
          <!--<span class="icon-clock"></span>-->
          <span>{{comS.formatDateTime(record['date'], 'DD.MM')}} {{comS.lang['label_on_date_postfix']}} {{record['time']}}</span>
        </div>
      </div>
      <section class="personal-information" *ngIf="record['customer']">
        <div class="info-right-container">
          <div class="avatar avatar-image">
            <img [src]="record['customer']['photo_url'] ? record['customer']['photo_url'] : comS.defaultPhoto" alt="">
          </div>
          <div class="info-right personal-info">
              <span class="info-right__name">
                {{record['customer']['first_name']}} {{record['customer']['last_name']}}
              </span>
            <div class="info-right__review" *ngIf="record['reviews'] && record['reviews'].length > 0">
              <span>Первый раз подстриглась у Натальи 6 лет назад, с тех пор больше не могу </span>
            </div>
            <div class="assessment" *ngIf="record['reviews'] && record['reviews'].length > 0">
              <span class="icon-star star-positive"></span>
              <span class="icon-star star-positive"></span>
              <span class="icon-star star-positive"></span>
              <span class="icon-star "></span>
              <span class="icon-star "></span>
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>
</ion-content>
