<div class="overlay-back" *ngIf="show">

</div>
<section class="circle-menu" *ngIf="show">

    <ul [class.show_rotate]="show_rotate">
        <li class="circle-menu-item" (click)="openAlert()">
            <span class="icon-trash-fill"></span>
        </li>
        <li class="circle-menu-item" (click)="goToRecordPage()">
            <span class="icon-notice"></span>
        </li>
        <li class="circle-menu-item" (click)="comS.mailTo(record && record['customer'] ? record['customer'] : null)">
            <span class="icon-mail-fill"></span>
        </li>
        <li class="circle-menu-item">
            <span class="icon-comment-fill"></span>
        </li>
        <li class="circle-menu-item">
            <a href="tel:+{{record && record['customer']['phone'] ? record['customer']['phone'] : ''}}">
                <span class="icon-phone-fill"></span>
            </a>
        </li>
    </ul>
    <button class="btn-circle icon-dots-v circle-menu-item">
        <i class="fal fa-ellipsis-v"></i>
    </button>
</section>