<ion-content>
  <section class="{{personal.containerClass[personal.step]}}">
    <div *ngIf="personal.step === 0">
      <header class="header-double">
        <div class="container-narrow">
          <span class="back icon-chevron-left"></span>
          <div class="personal-info__heading">
            <h1 class="heading-main">{{personal.navTitles[personal.step]}}</h1>
          </div>
        </div>
      </header>
      <div class="personal-info__avatar">
        <div class="avatar {{cropper.have_image ? 'avatar-image' : 'icon-camera'}}" (click)="showComponentPicker('.photo-picker')">
          <img *ngIf="cropper.have_image" src="{{photoBase64Raw}}" alt="">
          <!--<div class="avatar icon-camera" (click)="showComponentPicker('.photo-picker')">-->
        </div>
        <h2 class="subheading" (click)="showComponentPicker('.photo-picker')" *ngIf="!cropper.have_image">{{comS.lang['label_add_photo']}}</h2>
        <input type="file" class="photo-picker" accept="image/*" (change)="photoPicked($event)">
      </div>
      <form (submit)="nextStep()" [formGroup]="personalForm">
        <div class="form-item in-container" *ngFor="let field of personalArray" [class.on-error]="personalForm.controls[field['formName']].errors && !field.noNeedToValidate && validateClicked">
          <label class="name-label">
            <span class="placeholder-span" [class.focused]="focusObject && (focusObject === field) || (personalForm.controls[field['formName']].value && personalForm.controls[field['formName']].value.length > 0)">{{field['placeholder']}}</span>
            <input [type]="field['type']" *ngIf="field['formName'] !== 'birth_date'" [formControl]="personalForm.controls[field['formName']]" (focus)="fieldOnFocus(field, $event)" (focusout)="fieldOutOfFocus(field['formName'])" [maxlength]="field['restriction']">
            <span class="value-span" *ngIf="field['formName'] === 'birth_date'" (click)="showComponentPicker('#selectedBirthDate', field['formName'], field)">{{personalForm.controls[field['formName']].value}}</span>
            <ion-datetime id="selectedBirthDate" [(ngModel)]="selectedBirthDate" [ngModelOptions]="{standalone: true}" (ionChange)="dateChanged($event)" [displayFormat]="'YYYY-MM-DD'"></ion-datetime>
            <p class="restriction" *ngIf="field['hasRestriction']" [class.focused]="focusObject && (focusObject === field) || (personalForm.controls[field['formName']].value && personalForm.controls[field['formName']].value.length > 0)">{{field['restriction'] - (personalForm.controls[field['formName']].value ? personalForm.controls[field['formName']].value.length : 0)}}</p>
            <span class="icon-pluse-thin right-icon" (click)="clearFieldValue(personalForm.controls[field['formName']])" *ngIf="focusObject && (focusObject === field) || (personalForm.controls[field['formName']].value && personalForm.controls[field['formName']].value.length > 0)"></span>
          </label>
        </div>
      </form>
      <ion-select [(ngModel)]="selectedAddress" (ionChange)="addressChanged()" class="address_select" title="">
        <ion-select-option *ngFor="let address of searchData; let i = index;" [value]="address">{{address['display_name']}}</ion-select-option>
      </ion-select>
    </div>
    <div *ngIf="personal.step === 1">
      <header class="header-double">
        <span class="back icon-chevron-left"></span>
        <div class="personal-info__heading">
          <h1 class="heading-main">{{personal.navTitles[personal.step]}}</h1>
        </div>
      </header>
      <div class="workflow-table" *ngIf="workflowTable">
        <div class="workflow-row" *ngFor="let workflowRow of workflowTable; let i = index;">
          <div class="table-day">
            {{workflowRow['dayShort']}}
          </div>
          <div class="switcher">
            <input class="switcher-input" [(ngModel)]="workflowRow['isChecked']" [ngModelOptions]="{standalone: true}" type="checkbox" id= "check{{i}}"/>
            <label class="switcher-label" for="check{{i}}"></label>
          </div>
          <div class="table-start table-time opacity">
            <div class="table-time__top">
              <span (click)="showComponentPicker('#pickerStart' + i)">{{workflowRow['timeStart']}}</span>
              <ion-datetime id="pickerStart{{i}}" [cancelText]="comS.lang['button_picker_cancel']" [doneText]="comS.lang['button_picker_done']" [(ngModel)]="workflowRow['timeStart']" [ngModelOptions]="{standalone: true}" [max]="comS.oneHoureLess(workflowRow['timeEnd'])" displayFormat="{{workflowTableTimeFormat}}"></ion-datetime>
            </div>
            <div class="table-time__bottom">
              <p>{{comS.lang['label_begin']}}</p>
            </div>
          </div>
          <div class="table-end table-time opacity">
            <div class="table-time__top">
              <span (click)="showComponentPicker('#pickerEnd' + i)">{{workflowRow['timeEnd']}}</span>
              <ion-datetime id="pickerEnd{{i}}" [cancelText]="comS.lang['button_picker_cancel']"  [doneText]="comS.lang['button_picker_done']" [(ngModel)]="workflowRow['timeEnd']" [ngModelOptions]="{standalone: true}" [min]="comS.roundMinHours(workflowRow['timeStart'])" displayFormat="{{workflowTableTimeFormat}}"></ion-datetime>
            </div>
            <div class="table-time__bottom">
              <p>{{comS.lang['label_end']}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="personal.step === 2">
      <header class="header-double">
        <span class="back icon-chevron-left"></span>
        <div class="personal-info__heading">
          <h1 class="heading-main">{{personal.navTitles[personal.step]}}</h1>
        </div>
      </header>
      <div class="service">
        <div class="service-block">
          <div class="service-name" *ngIf="addedSections['length'] === 0" (click)="comS.pushPage('/services-page')">
            <p class="name">{{comS.lang['label_add_service']}}</p>
          </div>
          <div class="content-wrapper" *ngIf="addedSections['length'] > 0">
            <div *ngFor="let section_id of addedSections">
              <div class="service-name">
                <p class="name">{{services['sections'][section_id]['name']}}</p>
              </div>
              <div class="service-receipt" *ngFor="let service of services['sections'][section_id]['services']">
                <div class="receipt-name">{{service.name}}</div>
                <div class="receipt-duration">{{service.time | serviceDurationFormat}}{{comS.lang['label_hour_short']}}</div>
                <div class="receipt-price">{{service.price | coastFormat}}{{comS.lang['label_currency_short']}}</div>
              </div>
            </div>
          </div>
          <button (click)="comS.pushPage('/services-page')" class="service-button__add icon-pluse"></button>
        </div>

      </div>
    </div>
    <div class="carousel-section">
      <button class="carousel-left btn-back" (click)="prevStep()">{{comS.lang['button_back']}}</button>
      <div class="carousel-center">
        <span class="icon-dot icon-dot__active"></span>
        <span class="icon-dot"></span>
        <span class="icon-dot"></span>
      </div>
      <button class="carousel-right form-button__fill" (click)="nextStep()">{{personal.step !== 2 ? comS.lang['button_next'] : comS.lang['button_finish']}}</button>
      <!--<button class="carousel-right form-button__fill" (click)="nextStep()" [disabled]="(personal.step === 0) && !personalValid()">{{personal.step !== 2 ? comS.lang['button_next'] : comS.lang['button_finish']}}</button>-->
    </div>
  </section>

  <!-- CROPPER -->
  <div class="cropper-container" [class.showed]="cropper.opened">
    <image-cropper
            [imageChangedEvent]="imageChangedEvent"
            [maintainAspectRatio]="true"
            [aspectRatio]="1"
            [resizeToWidth]="256"
            format="png"
            (imageCropped)="imageCropped($event)"
            (imageLoaded)="imageLoaded()"
            (loadImageFailed)="loadImageFailed()"
    ></image-cropper>
    <div class="btns-group">
      <button class="form-button form-button__fill" (click)="closeCropper(false)">{{comS.lang['button_picker_cancel']}}</button>
      <button class="form-button form-button__fill" (click)="closeCropper(true)">{{comS.lang['button_save']}}</button>
    </div>
  </div>

</ion-content>