<article class="tab-content__container tab-content__single">
  <div class="contact-row" [class.active-row]="currentCustomer && currentCustomer === customer" *ngFor="let customer of customersFiltered" (click)="customerChanged(customer)">
    <div class="avatar-mini photo">
      <img [src]="customer['photo_url'] ? customer['photo_url'] : comS.defaultPhoto">
    </div>
    <div class="tab-content">
      <div class="name">
        <p>
          {{customer['first_name']}} {{customer['last_name']}}
        </p>
      </div>
      <div class="phone">
        <p>
          {{customer['phone']}}
        </p>
      </div>
    </div>
  </div>
</article>