<article class="tab-content__container tab-content__single filled-profile">
  <form class="client-profile personal-info__form" [formGroup]="clientForm">
    <div *ngFor="let field of personalArray" [class.on-error]="clientForm.controls[field['formName']].errors && validateClicked" class="form-item">
      <label class="name-label">
        <span class="placeholder-span" [class.focused]="focusObject && (focusObject === field) || (clientForm.controls[field['formName']].value && clientForm.controls[field['formName']].value.length > 0)">{{field['placeholder']}}</span>
        <input [type]="field['type']" [formControl]="clientForm.controls[field['formName']]" [attr.data-form-name]="field['formName']" (focus)="fieldOnFocus(field)" (focusout)="fieldOutOfFocus(field['formName'])" [maxlength]="field['restriction']">
        <span class="icon-pluse-thin right-icon" (click)="clearFieldValue(clientForm.controls[field['formName']])" *ngIf="focusObject && (focusObject === field) || (clientForm.controls[field['formName']].value && clientForm.controls[field['formName']].value.length > 0)"></span>
      </label>
    </div>
  </form>
</article>
<button class="btn-side icon-check" (click)="addNewClient()"></button>
<!--<button class="btn-side icon-checkmark" (click)="addNewClient()" *ngIf="clientForm.valid"></button>-->