<header class="header-personal header-double">
  <div class="container-narrow">
    <span class="back icon-chevron-left" (click)="comS.pushBack()"></span>
    <div class="personal-info__heading">
      <h1 class="heading-main">{{editWork ? comS.lang['nav_title_edit_work'] : comS.lang['nav_title_add_work']}}</h1>
    </div>
  </div>
</header>
<ion-content>
  <section class="personal-works add-work container-menu__personal with-nav">
    <div class="add-work__section">
      <ul class="new-work__list grid">
        <ng-container *ngFor="let thumb of thumbs">
          <li class="new-work__item" *ngIf="!thumb['flag'] || thumb['flag'] !== 'delete'">
            <div class="new-work__preview photo">
              <img [src]="thumb['unformatedBase64']" alt="">
              <div class="icon-trash" (click)="removePhoto(thumb)"></div>
            </div>
          </li>
        </ng-container>

        <li class="new-work__item new-work__add"  (click)="showComponentPicker('.photo-picker')">
          <div class="new-work__preview icon-pluse"></div>
        </li>
      </ul>
      <section class="new-work__info">
        <section class="work-description">
          <div class="form-item gray-back" [class.on-error]="!workName && validateClicked">
            <label class="name-label">
              <span class="placeholder-span" [class.focused]="focusObject === 'name' || (workName && workName.length > 0)">{{comS.lang['label_work_name']}}</span>
              <input class="none-border" (focus)="fieldOnFocus('name', $event)" (focusout)="fieldOutOfFocus()" type="text" maxlength="50" [(ngModel)]="workName">
              <p class="restriction" [class.focused]="focusObject === 'name' || (workName && workName.length > 0)">{{nameRestriction - (workName ? workName.length : 0)}}</p>
              <span class="icon-pluse-thin right-icon " (click)="clearFieldValue('workName')" *ngIf="focusObject === 'name' || (workName && workName.length > 0)"></span>
            </label>
          </div>
          <div class="form-item gray-back" [class.on-error]="!description && validateClicked">
            <label class="name-label">
              <span class="placeholder-span" [class.focused]="focusObject === 'description' || (description && description.length > 0)">{{comS.lang['label_work_description']}}</span>
              <!--<input class="none-border" type="text" (focus)="fieldOnFocus('description', $event)" (focusout)="fieldOutOfFocus()" maxlength="300" [(ngModel)]="description">-->
              <textarea rows="1" [(ngModel)]="description" (keyup)="comS.resizeTextArea($event)" (focus)="fieldOnFocus('description', $event)" (focusout)="fieldOutOfFocus()" maxlength="300"></textarea>
              <span class="textAreaValue">{{description}}</span>
              <p class="restriction" [class.focused]="focusObject === 'description' || (description && description.length > 0)">{{descriptionRestriction - (description ? description.length : 0)}}</p>
              <span class="icon-pluse-thin right-icon" (click)="clearFieldValue('description')" *ngIf="focusObject === 'description' || (description && description.length > 0)"></span>
            </label>
          </div>
        </section>
        <section class="work-description">
          <div class="form-item gray-back" (click)="showSearch('service')" [class.on-error]="!selectedService && validateClicked">
            <span class="name" [class.filled-span]="selectedService">{{selectedService ? selectedService['name'] : comS.lang['label_service']}}</span>
            <button class="icon-pluse" *ngIf="!selectedService"></button>
          </div>
          <div class="form-item gray-back"  (click)="showSearch('client')">
            <span class="name" [class.filled-span]="selectedCustomer">{{selectedCustomer ? selectedCustomer['first_name'] + ' ' + selectedCustomer['last_name'] : comS.lang['label_client']}} </span>
            <button class="icon-pluse-thin" *ngIf="!selectedCustomer"></button>
          </div>
        </section>
        <section class="work-description">
          <div class="form-item gray-back">
            <span class="name">{{comS.lang['label_from_archive']}}</span>
            <button class="icon-pluse"></button>
          </div>
        </section>
      </section>
      <button class="form-button__fill" (click)="addWork()">{{comS.lang['button_save']}}</button>
    </div>
  </section>
  <input type="file" class="photo-picker" accept="image/*" (change)="photoPicked($event)">
  <app-cropper *ngIf="imageChangedEvent" [pickedPhoto]="imageChangedEvent" (photoCropped)="pickCropped($event)"></app-cropper>
</ion-content>