<div class="heading">
  <h1 class="foreground-heading">{{ codeType === 'restore' ? comS.lang['title_login'] : comS.lang['title_register'] }}</h1>
  <p class="hint"> {{ this.codeType === 'restore' ? comS.lang['hint_phrase_restore'] : comS.lang['hint_phrase_create'] }} </p>
</div>
<div>
  <span class="notification">{{comS.lang['hint_type_new_password']}}</span>
  <form (submit)="register()" class="personal-info__form pad-for-auth" [formGroup]="signUpForm">
    <label class="password-label" *ngFor="let field of formFields">
      <input class="registration-input password-input" [type]="field['type'] ? 'password' : 'text'" [formControl]="signUpForm.controls[field['control']]">
      <span class="icon-left icon-key"></span>
      <span class="icon-right {{field['type'] ? 'icon-eye' : 'icon-eye-blocked'}}" (click)="changeFieldType(field)"></span>
    </label>
    <!--<label class="password-label">-->
      <!--<input class="registration-input password-input" type="password" [formControl]="signUpForm.controls['password_confirmation']">-->
      <!--<span class="icon-left icon-key"></span>-->
      <!--<span class="icon-right icon-eye-blocked"></span>-->
    <!--</label>-->
    <button class="form-button on-register" [class.form-button__fill]="signUpForm.valid"> {{ this.codeType === 'restore' ? comS.lang['button_save'] : comS.lang['button_register'] }} </button>
  </form>
</div>