<ion-content>
  <main>
    <section class="registration">
      <div class="background-animate" [class.no-animate]="animationPlayed">
        <img class="logo-meet" src="{{comS.appLogo}}" alt="logo">
      </div>
      <div class="foreground">
        <!--<ion-router-outlet></ion-router-outlet>-->
        <app-code-component *ngIf="currentComponent === 'code'" (componentChanged)="setCurrentComponent($event)"></app-code-component>
        <app-login-component *ngIf="currentComponent === 'login'" (componentChanged)="setCurrentComponent($event)"></app-login-component>
        <app-password-component *ngIf="currentComponent === 'password'" (componentChanged)="setCurrentComponent($event)"></app-password-component>
      </div>
    </section>
  </main>
</ion-content>
