<header class="header-personal">
  <div class="container-narrow">
    <span class="back icon-chevron-left" (click)="comS.pushBack()"></span>
    <div class="personal-info__heading">
      <button class="btn-link" (click)="editThisWork()">Изменить</button>
    </div>
  </div>
</header>
<ion-content>
  <section class="works-view with-nav personal-works" *ngIf="work && work['id']">
    <section class="carousel works-carousel">
      <div class="swiper-container" [swiper]="swiperConfig">
        <div class="swiper-wrapper">
          <div class="swiper-slide loaded-photo1 photo" *ngFor="let photo of work['photos']">
            <img [src]="photo['path']" alt="">
          </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-info container-menu">
          <time class="swiper-date">{{comS.formatDateTime(work['created_at'], 'DD.MM.YY')}}</time>
          <div class="swiper-views">3 views</div>
        </div>
      </div>
    </section>
    <section class="service container">
      <h2>{{work['title']}}</h2>
      <p class="service-description" *ngIf="work['description']">{{work['description']}}</p>
    </section>
    <section class="section-client container" *ngIf="work['customer']">
      <h2>Клиент</h2>
      <div class="personal-info">
        <div class="avatar avatar-image">
          <img [src]="work['customer']['photo_url'] ? work['customer']['photo_url'] : comS.defaultPhoto" alt="">
        </div>
        <span class="personal-name">{{work['customer']['first_name']}} {{work['customer']['last_name']}}</span>
      </div>
    </section>
  </section>
</ion-content>