<ul class="cearch-hitn__list" *ngIf="results && results.length > 0">
  <li class="cearch-hitn__item" *ngFor="let result of results" (click)="selectResult(result)">{{result.name}}</li>
</ul>

<div *ngIf="noAvailableService && !isMasters">
  <div class="popup-invitation">
    <p class="popup-invitation__text">{{comS.lang['hint_add_new_service_name']}}</p>
  </div>
  <button class="form-button__fill" (click)="addCustomService()">{{comS.lang['button_add']}}</button>
</div>