<app-header-menu [config]="headerConfig"></app-header-menu>
<ion-content>
  <app-add-record></app-add-record>
  <main>
    <section class="contact-single-page with-nav with-footer">
      <div class="avatar-contact photo">
        <img [src]="(customer && customer.user.photo_url) ? customer.user.photo_url : comS.defaultPhoto" alt="">
        <div class="avatar-client__info">
        <span class="client-name">
            {{customer ? customer.user['first_name'] : ''}} {{customer ? customer.user['last_name'] : ''}}
        </span>
          <span class="client-info">
            г.Харьков {{comS.getAge(customer ? customer.user['birth_date'] : null)}}
        </span>
          <div class="avatar-foreground"></div>
        </div>
        <div class="contact-actions">
          <ul class="actions-list">
            <li class="action-item" (click)="comS.pushPage('main/contacts/' + customerId + '/edit')">
              <button>
                <span class="icon-notice"></span>
              </button>
            </li>
            <li class="action-item">
              <a href="tel:+{{customer && customer.user['phone'] ? customer.user['phone'] : ''}}">
                <button>
                  <span class="icon-phone-fill"></span>
                </button>
              </a>
            </li>
            <li class="action-item">
              <button>
                <span class="icon-comment-fill"></span>
              </button>
            </li>
            <li class="action-item">
              <button (click)="comS.mailTo(customer && customer.user ? customer.user : null)">
                <span class="icon-mail-fill"></span>
              </button>
            </li>
          </ul>
        </div>
      </div>
      <form action="/" class="description">
        <label class="description-label">
          <span class="input-hint">Средний чек</span>
          <span class="description-input">{{customer && customer['records_info']['avg_price'] ? comS.getIntValue(customer['records_info']['avg_price']) : 0}} грн.</span>
        </label>
        <label class="description-label">
          <span class="input-hint">Общая сумма</span>
          <span class="description-input">{{customer && customer['records_info']['total_price'] ? comS.getIntValue(customer['records_info']['total_price']) : 0}} грн.</span>
        </label>
        <label class="description-label">
          <span class="input-hint">Посещаемость</span>
          <span class="description-input">{{customer && customer['records_info']['avg_monthly_visits'] ? comS.getIntValue(customer['records_info']['avg_monthly_visits']) : 0}} раз(а) в месяц</span>
        </label>
        <label class="description-label" *ngIf="customer && customer['records_info']['next_visit']">
          <span class="input-hint">Предстоящие визиты</span>
          <span class="description-input">{{customer['records_info']['next_visit']}}</span>
        </label>
        <label class="description-label" *ngIf="customer && customer['records_info']['last_visit']">
          <span class="input-hint">Последний визит</span>
          <span class="description-input">{{customer['records_info']['last_visit']}}</span>
        </label>
      </form>
    </section>
  </main>
</ion-content>
<app-main-footer [tab]="'contacts'"></app-main-footer>
<app-quick-access-overlay></app-quick-access-overlay>