<div class="container-calendar-wrapper">
<!--<div class="container-calendar-wrapper" *ngIf="calendar && calendar.currentState === 'week'">-->
  <div class="container-calendar calendar-weekly" (touchend)="dragEndHandler($event)" >
    <div class="calendar-content">
      <ul class="weekly-list" swipeAll (swipedown)="dragMonthStart($event, 'down')" *ngIf="calendar.week">
      <!--<ul class="weekly-list" swipeAll (touchstart)="dragMonthStart($event)" (touchmove)="dragMonthCalendar($event)"-->

        <li class="weekly-list__item" *ngFor="let weekDay of calendar.week" (click)="selectDate(weekDay, 'week')" [class.date-active]="weekDay.fullDate === calendar.selectedDate">
        <span class="calendar-day">
            {{comS.formatDateTime(weekDay.fullDate, 'dd')}}
        </span>
          <span class="calendar-date" [class.current-day]="weekDay.fullDate === comS.getMomentObject().format('YYYY-MM-DD')">
            {{weekDay.date}}
        </span>
        </li>
      </ul>
    </div>
    <div class="calendar-footer">
      <ul class="day-mark__list">
        <li class="day-mark__item day-prev" *ngFor="let day of swipeDays">
          <span class="day-mark__name" (touchstart)="dragWeekDayStart($event)" (touchmove)="dragWeekDay($event)" (touchend)="dragWeekDayEnd($event)">
              {{day.nearest !== null ? this.comS.getNearestByCode(day.nearest) : day.dayMonth.locale(comS.appLang).format('D MMMM')}}
          </span>
            <span class="day-mark__date" *ngIf="day.nearest !== null">
              {{day.dayMonth.locale(comS.appLang).format('D MMMM')}}
          </span>
        </li>
      </ul>
    </div>
  </div>
  <div class="container-calendar calendar-monthly" [class.finish-slide]="dragStatus === 'finish'" swipeAll (swipeup)="dragMonthStart($event, 'up')" (swiperight)="onMonthSwipe($event)" (swipeleft)="onMonthSwipe($event)">
  <!--<div class="container-calendar calendar-monthly" [class.finish-slide]="dragStatus === 'finish'" swipeAll (touchstart)="dragMonthStart($event)" (touchmove)="dragMonthCalendar($event)" (touchend)="dragEndHandler($event)"  (swiperight)="onMonthSwipe($event)" (swipeleft)="onMonthSwipe($event)">-->
    <div class="calendar-header">
      <span class="calendar-nav">{{comS.formatDateTime(calendar.selectedMonth, 'MMMM YYYY')}}</span>
      <div class="calendar-btns">
        <button class="btn-prev icon-chevron-left-thin" (click)="changeMonth(-1)"></button>
        <button class="btn-next icon-chevron-right-thin" (click)="changeMonth(1)"></button>
      </div>
    </div>
    <div class="calendar-content">
      <ul class="weekly-list" *ngIf="calendar.month">
        <li class="weekly-list__item" *ngFor="let weekDay of calendar.month[0].days">
          <span class="calendar-day">
              {{weekDay.format('dd')}}
          </span>
        </li>
      </ul>
    </div>
    <div class="calendar-content" *ngFor="let week of calendar.month">
      <ul class="weekly-list">
        <li class="weekly-list__item" *ngFor="let day of week['days']" [class.date-active]="day.format('YYYY-MM-DD') === calendar.selectedDate">
          <span class="calendar-date" (click)="selectDate(day, 'month')" [class.another-month]="!comS.isDayOfSelectedMonth(day, calendar.selectedMonth)" [class.busy]="busyDays[day.format('YYYY-MM-DD')]" [class.current-day]="day.format('YYYY-MM-DD') === comS.getMomentObject().format('YYYY-MM-DD')">
              {{day.format('D')}}
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>
