@include font-face("FontAwesome5Pro-Regular", "assets/fonts/fonts-text/SFProText-Regular");
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
$header-padding: 15px;
main {
  height: 100%;
  min-height: 100vh;
  background: #fff;
}

ion-content {
  //--background: none;
  height: 100vh;
  --keyboard-offset: 0 !important;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.confirmation-code {
  .code-input {
    color: #000;
    height: 100%;
    text-align: center;
  }
}

.left-icon {
  background: url(assets/images/flag.svg);
}

.registration-form {
  input {
    padding: 11px 60px;
  }
}

.ov-hidden {
  overflow: hidden !important;
}
.old-messages {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
}

* {
  @include font(16px, 1.3, #{$font-main__light});
  box-sizing: border-box !important;
}

.on-register {
  margin-top: 40px;
}
.app_sidebar_index {
  z-index: 100;
  overflow-y: auto;
  position: relative;
}
ion-action-sheet, ion-action-sheet-controller, ion-alert, ion-alert-controller, ion-anchor, ion-app, ion-avatar, ion-back-button, ion-backdrop, ion-badge, ion-button, ion-buttons, ion-card, ion-card-content, ion-card-header, ion-card-subtitle, ion-card-title, ion-checkbox, ion-chip, ion-col, ion-content, ion-datetime, ion-fab, ion-fab-button, ion-fab-list, ion-footer, ion-grid, ion-header, ion-icon, ion-img, ion-infinite-scroll, ion-infinite-scroll-content, ion-input, ion-item, ion-item-divider, ion-item-group, ion-item-option, ion-item-options, ion-item-sliding, ion-label, ion-list, ion-list-header, ion-loading, ion-loading-controller, ion-menu, ion-menu-button, ion-menu-controller, ion-menu-toggle, ion-modal, ion-modal-controller, ion-nav, ion-nav-pop, ion-nav-push, ion-nav-set-root, ion-note, ion-picker, ion-picker-column, ion-picker-controller, ion-popover, ion-popover-controller, ion-progress-bar, ion-radio, ion-radio-group, ion-range, ion-refresher, ion-refresher-content, ion-reorder, ion-reorder-group, ion-ripple-effect, ion-route, ion-route-redirect, ion-router, ion-router-outlet, ion-row, ion-searchbar, ion-segment, ion-segment-button, ion-select, ion-select-option, ion-select-popover, ion-skeleton-text, ion-slide, ion-slides, ion-spinner, ion-split-pane, ion-tab-bar, ion-tab-button, ion-text, ion-textarea, ion-thumbnail, ion-title, ion-toast, ion-toast-controller, ion-toggle, ion-toolbar, ion-virtual-scroll {
  visibility: visible;
}
app-schedule.ion-page {
  overflow-y: auto;
}

.header-main {
  position: relative;
  z-index: 102;
}

.registration .foreground .ion-page, .registration  .foreground ion-router-outlet {
  overflow: visible;
}

.registration .foreground .ion-page {
  padding: 30px 40px;
  display: flex;
  flex-direction: column;

  .btns-help {
    position: static;
    justify-content: space-around;
    width: 100%;
    transform: none;
  }
}

.btns-help {
  //position: static;
  justify-content: space-around;
  //width: 100%;
  //transform: none;
}

.background-animate.no-animate {
  width: 100vw;
  height: 100vh;
  border-radius: 0;
  animation: none;
  top: 0;
  left: 0;
}

.carousel-section {
  .form-button__fill {
    padding: 22px 12px 22px 12px;
    word-break: keep-all;
    text-align: left;
    font-family: 'SFProDisplay-Medium', sans-sefir;

    &:disabled {
      background: #ECEEF0;
      color: #707070;
    }
  }
}
.address_select {
  display: none;
}
.carousel-section {
  position: relative;
  width: calc(100% + 25px);
  bottom: 0;
}

.personal-info__form ion-datetime {
  display: none;
}
.personal-info__form {
  .selectedBirthDate {
    font-family: "SFProDisplay-Light";
    position: static;
    cursor: default;
    outline: none;
    display: block;
    transform: none;
    padding: 25px 10px 18px 67px;
    width: 100%;
    background: #FCFCFC;
    border-bottom: none;
    font-size: 20px;
    color: #545454;

    &.placeholder {
      color: #858585;
    }
  }
}
.back, .icon-chevron-left {
  position: relative;
  z-index: 2;
  color: #5492E9;
}
.cropper-container {
  padding-top: 30px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 103;
  background: rgba(0,0,0,.7);
  display: none;
  image-cropper {
    max-height: calc(70vh - 30px);
  }
  &.showed {
    display: block;
  }
  .form-button {
    margin-top: 15px;
  }
}
.container-narrow {
  padding: 16px !important;
}
.personal-information, .personal-schedule, .section-services {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
app-select-category {
  .section-services {
    max-height: calc(100vh - 67px);
    min-height: calc(100vh - 67px);
  }
  .header-main {
    box-shadow: none;
  }
}
.filled-profile {
  padding: 16px 0;
}
.my-profile {
  .personal-information, .personal-schedule, .section-services {
    min-height: auto;
    flex-direction: row;
    justify-content: initial;
  }
  .icon-location {
    margin-right: 10px;
  }
  .personal-data__contacts > * {
    display: flex;
    align-items: center;
  }
}
.workflow {
  &-table {
    ion-datetime {
      display: none;
    }
  }
  &-row {
    .table-time {
      align-items: flex-start;
    }
  }
}
.registration {
  &.section-services {
    .personal-info__heading {
      //margin-bottom: 40px;
    }
  }

}
.personal-information {
  header {
    .container-narrow {
      padding: 0 !important;
    }
  }
}
.service {
  &-block {
    .time {
      &-span {
        border-bottom: 1px solid #D8D8D8;
        background: transparent;
        font-size: 15px;
        width: 100%;
        cursor: default;
        outline: none;
        padding: 25px 10px 9px 11px;
        color: #545454;
        font-family: "SFProDisplay-Light";
        position: relative;
        display: block;
      }
    }
  }
  span {
    &.placeholder {
      font: 19px 'SFProDisplay-Light';
      line-height: 1.3;
      color: #858585;
      width: 100%;
      display: block;
    }
  }
}

.services-list {
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}
.service-block {
  .content-wrapper {
    max-height: calc(100vh - 260px);
    overflow-y: auto;
  }
}
.popup {
  &-hint {
    margin-top: 25px;
    .icon-pluse {
      color: #fff;
      position: absolute;
      right: 10px;
      top: 14px;
      transform: rotate(45deg) translate(-5px, -5px);
      &::before {
        font-size: 16px;
      }
    }
    a {
      &.continue-register {
        font-size: 15px;
        text-decoration: underline;
        font-weight: 600;
        color: #fff;
        padding: 0;
      }
    }
  }
}


.personal-info__form [class^="icon-"]::before, .personal-info__form [class*=" icon-"]::before {
  z-index: 1;
  top: 50%;
}

.form-correction {
  label {
    & > label {
      padding: 0;
    }
  }
}

.works-view {
  overflow-x: visible;
}
header {
  padding-top: $header-padding;
  &.header {
    &-main, &-personal {
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 102;
      padding: #{$header-padding} 0 0;
      display: flex;
    }
    &-personal {
      padding: 25px;
      box-shadow: none;
      background: #fff;
    }
    &-main {
      [class^="icon-"], [class*=" icon-"] {
        color: #2699FB;
        font-size: 25px;
        //display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    &-calendar {
      padding: #{$header-padding} 0 0;
    }
    &-triple {
     display: block;
    }
    &-side {
      padding: 10px 0 0 0 !important;
      background: none !important;
      .header-personal__top {
        margin: 0 0 24px -8px;
      }
    }
  }
  .personal-info__heading {
    margin-bottom: 0;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    position: static;
    transform: none;

    .heading-main {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .btn-link {
     width: auto;
  }
  .heading-main {
    width: 100%;
    text-align: center;
  }
  &.no-shadow {
    box-shadow: none;
  }
  .btn-link, .main-notification, .back, .burger-menu, h1 {
    position: relative;
    z-index: 4;
  }
  h1 {
    position: relative;
    z-index: 3;
  }
}
app-works-gallery, app-order-delete, app-view-work, app-new-work {
  .header-personal {
    padding: #{$header-padding} 0 0;
  }
}

app-sidebar {
  header {
    &.header {
      &-main, &-personal {
        position: static;
      }
      &-personal {
        display: block;
        .personal-avatar {
          overflow: hidden;
          width: 80px;
          height: 80px;
        }
        &-info {
          .profile-name {
            overflow: hidden;
          }
        }
      }
    }
    &.header-side {
      padding: #{$header-padding} 0 0 !important;
    }
  }
  .menu-personal {
    padding-top: 16px;
  }
}

.personal-top____right {
  span::before {
    font-size: 21px;
  }
}

.profile-correct .header-personal {
  padding: 25px;
}

.personal-works {
  .personal-info{
    &__heading {
      justify-content: center;
      margin-bottom: 0;
      h1 {
        text-align: center;
      }
    }

  }
  .carousel {
    .photo {
      height: 264px;
      background: none;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .album-list {
    .photo {
      background: none;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__item {
      width: calc(45vw - 24px);
    }
    &.grid {
      .photo {
        height: calc(45vw - 24px);
      }
    }
  }
  .albums-list__item {
    margin-bottom: 10px;
  }
  .grid {
    justify-content: space-between;
    .photo {
      height: 200px;
      //height: calc(45vw - 24px);
    }
  }
  .control-panel {
    justify-content: flex-end;
  }
  &.add-work {
    .grid {
      justify-content: flex-start;
      .new-work__item {
        width: calc((100vw / 4) - 23px);
        height: calc((100vw / 4) - 23px);
        .photo {
          width: 100%;
          height: 100%;
          img {
            width: inherit;
            height: inherit;
            object-fit: cover;
          }
        }
      }
    }
  }
}
app-login {
  display: flex;
  flex-direction: column;
}

[class*="works-list__photo"] {
  min-width: 74px;
  background: none;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.list-wrapper {
  padding: 26px 0;
}
ion-reorder {
  &.icon-burger {
    &:before {
      position: absolute;
      background: #FBFBFB;
      padding: 17px;
      z-index: 1;
      top: 0;
      right: 0;
    }
  }
}

.works-list {
  &.drag-overlay {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      z-index: 90;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(255,255,255,.6);
    }
  }
  .reorder-selected {
    opacity: 1;
    box-shadow: none;
  }
}

.main-menu__bottom {
  [class^="icon-"], [class*=" icon-"] {
    &:not(.icon-plus) {
      width: auto;
      height: fit-content;
    }
  }
}

.workflow-item {
  //margin-bottom: 10px;

  &__info {
    width: 100%;
    margin-bottom: 10px;
    &_wrapper {
      width: 100%;
      margin-left: 32px;
    }
    .icon {
      &-tascs, &-plus, &-pluse, &-burger-thin {
        position: absolute;
        right: 17px;
        top: 50%;
        transform: translateY(-50%);
        color: #007AFF;
        font-size: 12px;
      }
    }
    .ellipsis-container {
      position: absolute;
      right: -15px;
      top: calc(50%);
      width: 40px;
      height: 40px;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: center;
      align-items: center;
      .fa-ellipsis-v {
        color: #007AFF;
        font-size: 24px;
      }
    }

  }
  &__date {
    min-width: 33px;
    margin: 12px 5px 0;
  }
  .icon-dot {
    &::before {
      top: 10px !important;
    }
    .duration {
      margin-top: 5px;
    }
  }
  .client {
    &-name {
      input {
        font-family: 'SFProDisplay-Bold', sans-sefir;
        font-size: 13px;
        color: #4A4A4A;
      }
    }
  }
}

.container-menu {
  padding: 20px 15px;
}

.workflow-list {
  padding-bottom: 0 !important;
  margin-bottom: 50px !important;
  padding-top: 0 !important;
  margin-top: 214px !important;
  .simplebar-content {
    padding: 40px 15px !important;
  }
  .icon-dot {
    position: relative;
    &::before {
      position: absolute;
      content: '';
      top: 0;
      border-radius: 50%;
      border: 2px solid #157CEB;
      width: 12px;
      height: 12px;
      left: -29px;
      transform: translateX(-50%);
    }
    &.nearest-event {
      &:before {
        border-color: #FF5182;
      }
    }
  }
}
.popup-modal, .search-section-wrapper {
  z-index: 200;
}


.search-section-wrapper {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;

  .registration {
    padding-top: 110px;
  }
}

.workflow-list::after, .workflow-list::before {
  background: rgba(112,112,112, .25);
}

.calendar__min.personal-workflow::after {
  content: none;
}
.workflow-list::after {
  top: 0;
  min-height: 100vh;
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  left: 60px;
}

.tab {
  &-name {
    padding: 0;
    span {
      padding: 15px 20px;
      transform: none;
      writing-mode: vertical-rl;
      text-orientation: mixed;
      text-align: center;
    }
    &.h-100 {
      height: 100%;
      span {
        height: 100%;
      }
    }
  }
  &-content {
    &__container {
      // padding: 16px 20px 0;
      width: 100%;
      .search-label {
        .icon-search {
          margin-right: 10px;
        }
      }
      .avatar {
        &__new {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
    &-wrapper {
      width: 100%;
    }
    .name {
      margin-bottom: 0;
    }
    &__single {
      .search-label {
        display: block;
      }
    }
  }
  &-container  {
    z-index: 200;
    position: fixed;
    .calendar {
      display: flex;
      ngx-wheel-selector {
        width: 25%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        &.day-collumn {
          width: 50%;
          &.disabled {
            position: relative;
            &:after {
              position: absolute;
              content: '';
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
            }
            .picker-handle-layer {
              .picker {
                &-bottom, &-middle, &-top {
                  background: none;
                }
              }
            }
            .picker-item {
              color: rgba(74,74,74,.12);
            }
          }
        }
        .picker {
          &-item {
            line-height: 24px !important;
            font-size: 20px !important;
            font-family: "SFProDisplay-Regular";
          }
          &-bottom, &-top {
            border: none !important;
          }
        }
      }
    }
    .avatar-mini {
      overflow: hidden;
      margin-right: 20px;
    }
  }
}
.menu-bottom__center {
  .icon-plus {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.blur, .blurred {
  filter: blur(4px) brightness(0.9);
  cursor: pointer;
  overflow: hidden;
  position: fixed;
}
.btn-circle {
  font-size: 22px;
  top: 53%;
}
.circle-menu {
  display: block;
}
app-quick-access-overlay {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 102;
}
app-contacts {
  overflow-y: auto !important;
}
app-add-record {
  //position: absolute;
  //left: 0;
  //top: 0;
  //height: 100%;
  //width: 100%;
  //z-index: 100;
}
app-my-services-main {
  .my-services-list {
    .services-list__item {
      display: block;
      padding: 0;
      .service-name {
        &.on-moderation {
          padding: 30px 30px 10px;
          .item-name {
            color: #c0c0c0;
          }
          .service-status {
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 10px 10px 0 0;
            p {
              color: #c0c0c0;
            }
          }
          .icon-pluse, .icon-minus {
            display: none;
          }
        }
      }
    }
    ion-datetime {
      display: none;
    }
  }
  .description {
    .description-input {
      width: 100%;
      display: block;
    }
  }
  .service-receipt {
    //margin-bottom: 28px;
    padding: 14px 10px !important;
    margin-top: 0;
    width: 100%;
    font-size: 16px;
    border-bottom: none !important;

    .receipt-name {
      width: 45%;
    }
    .receipt-duration {
      width: 20%;
    }
    .receipt-price {
      width: 30%;
    }

    &:last-of-type {
      padding-bottom: 22px !important;
    }
  }
  .service-mute {
    .service-receipt {
      margin-bottom: 0;
    }
  }
}


.contacts-filter-container {
  background: #fff;
  position: fixed;
  width: 100vw;
  top: calc(67px + #{$header-padding});
  left: 0;
  overflow: hidden;
  box-shadow: -5px 4px 20px -8px rgba(0, 0, 0, 0.44);
  z-index: 1;

  .filter {
    &-name {
      font-size: 13px;
    }
  }
  .search-input, .icon-search {
    height: 17px;
  }
  .icon-search {
    font-size: 14px;
  }
  .search-input {
    font-size: 17px;
  }
  .search-label__dark {
    display: flex;
    align-items: center;
  }
}
.contacts-alphabet {
  &:not(.others) {
    //margin-top: 187px;
  }
}
.contact-single-page {
  .avatar-contact {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.avatar {
  &-image {
    margin: 0;
  }
  &-client {
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-image, &-client, &-mini {
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  &-image, &-client, &-mini, &-middle {
    overflow: hidden;
  }
}

.popup-modal {
  .popup-modal {
    &__header {
      margin-bottom: 0;
    }
    &__subheading {
      margin-bottom: 10px;
    }
    &__text {
      margin-bottom: 20px;
    }
    &__buttons {
      &.vertical {
        flex-direction: column;
        button {
          width: 100%;
          margin: 0;
          &:not(:first-child) {
            margin-top: 15px;
          }
        }
      }
    }
  }
}
.item-highlight {
  height: 0;
}
.slide-action {
  border-radius: 10px 10px;
  padding: 16px;
  font-family: "SFProDisplay-Light";
  color: #FFFFFF;
  font-size: 15px;
  &.edit {
    background: #FF5182;
    padding-right: 20px;
  }
  &.delete {
    background: #707070;
    margin-left: -14px;
  }
}
.my-services-list {
  .services-list__item {
    .service-name {
      margin-bottom: 8px;
      &.active-service {
        margin-bottom: 14px;
      }
    }
  }
  .service-status {
    margin-bottom: 0;
  }
  .service-mute {
    .service-receipt {
      color: #C0C0C0;
    }
  }
}
.service-short__item {
  margin: 0 14px 14px 0;
}
.d-flex {
  display: flex;
}
.hidden {
  display: none !important;
}

.form-item {
  padding: 22px 30px 6px;
  color: #858585;
  font-family: "SFProDisplay-Light", sans-sefir;
  display: flex;
  font-size: 17px;
  border: none;
  position: relative;
  justify-content: space-between;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 90%;
    height: 1px;
    background: #ECEEF0;
    left: 50%;
    transform: translateX(-50%);
    transition: all 1s ease-in-out;
  }
  &.on-error {
    &:after {
      background: #FF5182;
    }
  }
  &.no-border {
    &:after {
      content: none;
    }
  }
  &.w-100 {
    &:after {
      width: 100%;
    }
  }
  &.in-container {
    margin: 0 -15px;
  }
  .name-label {
    position: relative;
    color: #545454;
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 20px;
    .placeholder-span {
      position: absolute;
      transition: all .3s;
      color: #808080;
      &.focused {
        top: 0;
        transform: translateY(-16px);
        font-size: 11px;
      }
    }
    .value-span {
      background: transparent;
      width: 100%;
      cursor: default;
      outline: none;
      font-size: 16px;
      color: #000;
      margin-right: 26px;
      display: inline-block;
      position: relative;
      z-index: 1;
    }
    input, textarea, .textAreaValue {
      font-size: 16px;
      color: #000;
      margin-right: 26px;
      padding: 0;
      border: none;
      background: transparent;
    }
    textarea {
      //transition: all .3s ease-in-out;
      min-height: 20px;
      max-height: 150px;
      width: 100%;
    }
    .textAreaValue {
      position: fixed;
      z-index: -1;
      visibility: hidden;
      height: 20px;
      width: fit-content;
      white-space: nowrap;
    }
  }
  .restriction {
    position: absolute;
    right: 0;
    transition: all .3s;
    color: #808080;
    &.focused {
      transform: translateY(-16px);
      font-size: 11px;
    }
  }
  .icon-pluse-thin.right-icon {
    right: -2px;
    transform: rotate(45deg) translate(-5px, -5px);
    width: auto;
    height: auto;
    font-size: 17px;
    color: #626262;
    padding: 0;
    background: none;
    &:before {
      color: inherit;
      font-size: 16px;
      font-weight: bold;
    }
  }
  &.gray-back {
    background: #FBFBFB;
  }
  .filled-span {
    color: #000;
  }
  ion-datetime {
    display: none;
  }
}
app-services-page, .my-services {
  .switcher {
    margin: 20px 0;
  }
}

.contacts-list, .section-archive {
  margin-top: calc(113px + #{$header-padding});
  padding-top: 10px;
  margin-bottom: 0;
  min-height: 100vh;
  height: auto;
}
.section-archive {
  height: calc(100vh - calc(113px + #{$header-padding}));
  overflow-y: auto;
}
.contacts-list {
  min-height: 100vh;
  height: auto;
  margin-bottom: 0 !important;
  padding-bottom: 93px;
}
app-record-info {
  .contacts-list {
    margin-top: 217px;
  }
  .box-appointment {
    &.blur {
      top: 68px;
    }
  }
}
.message {
  &-menu {
    &__bottom {
      display: flex;
      align-items: center;
    }
  }
}


.container-calendar-wrapper {
  position: relative;
  .calendar-monthly {
    position: absolute;
    width: 100%;
    background: rgba(255,255,255,.99);
    top: 0;
    transform: translateY(-100%);
    opacity: 0;
    box-shadow: 0 10px 8px -8px rgba(0, 0, 0, 0.44);

    &.finish-slide {
      transition: all .3s ease-in-out;
    }
  }
}
.btn{
  &-popup{
    &__modal {
      min-width: calc(50% - 5px);

      //.popup-modal__buttons :not(:last-child)
    }
  }
}
.popup-modal__buttons {
  justify-content: space-around;
}
.popup{
  &-info {
    padding: 20px;
  }
}
.personal-archive{
  &__card {
    .personal-information {
      padding-left: 0;
      .info-right-container {
        display: flex;
        align-items: flex-start;
        .avatar {
          margin-right: 15px;
          width: 64px;
          height: 64px;
          min-width: 64px;
          min-height: 64px;
        }
      }
    }
    .archive-card {
      &__heading {
        .service {
          font-family: 'SF Pro Text', sans-sefir;
          font-weight: bold;
          font-style: italic;
          letter-spacing: -1px;
        }
      }

    }
  }
}
.section-archive {
  .personal-information {
    min-height: auto;
  }
}
.box-appointment {
  padding: 16px 16px 0;
  .app-info {
    margin-bottom: 20px;
  }
}

.with-nav {
  margin-top: calc(67px + #{$header-padding});
}
.with-footer {
  margin-bottom: 93px;
}

app-records {
  .icon {
    &-pluse {
      &:before {
        font-size: 15px;
      }
    }
  }
  .fa {
    &-clock {
      font-size: 10px;
      margin-right: 14px;
    }
  }
}
app-main-footer {
  .icon {
    &-pluse {
      &:before {
        padding-bottom: 0 !important;
      }
    }
  }
}
.lists-container {
  display: flex;
  overflow: hidden;
  width: fit-content;
  //transition: all 1s;
  transform: translateX(-100vw);
  .workflow-list {
    width: 100vw;
    //height: fit-content;
    //height: calc(100vh - (262px  + #{$header-padding}));
    //height: 100vh;
    margin-top: calc(214px + #{$header-padding}) !important;
    padding: 20px 15px 50px !important;

    &:only-child {
      margin-left: 100vw;
      margin-right: 100vw;
    }
    &:after {
      height: calc(100% + 230px);
    }
  }
}

.calendar-footer {
  overflow-x: initial;
  //transition: all 1s;
  transform: translateX(-146vw);

  &.finish-slide {
    transition: all .5s;
  }
}

.menu-personal {
  height: 100vh;
  overflow-y: auto;
}

.day-mark__list {
  .day-mark__item {
    &:nth-child(3) {
      .day-mark__name {
        color: #5492E9;
      }
    }
  }
}
.contacts-invitation {
  position: fixed;
  top: 67px;
  left: 0;
  z-index: 2;
  background: #fff;
  box-shadow: -2px 8px 13px -8px rgba(0, 0, 0, 0.44);
}
app-contacts-import {
  .with-nav {
    margin-top: 131px;
    height: calc(100vh - 181px);
    background: #F5F6F7;
  }
  .contacts-mask-input {
    visibility: hidden;
  }
}

app-select-category {
  .services-list__item {
    align-items: center;
    margin: 5px 0;
    padding: 0;
  }
  .service-name {
    &.active-service {
      margin-bottom: 0;
      padding: 20px 23px;
      align-self: center;
      align-items: center;
    }
  }
  .services-list {
    margin: 10px 0;
  }
}

.registration-input {
  border-bottom: 1px solid #DBDBDB;
  width: 100%;
}
.registration-form {
  .registration-input {
    text-align: left;
  }
}
.registration-phone {
  text-align: center;
}

.pad-for-auth {
  padding-bottom: 70px;
}

.settings-item .item-right [class^="icon-"]::before, .settings-item .item-right [class*=" icon-"]::before,
.menu-personal__list .personal-li .icon-right__middle::before {
  left: calc(50% + 1px);
  font-size: 11px;
  line-height: 1.6;
  top: 50%;
  transform: translate(-50%,-50%);
}


.btns-help {
  button {
    color: #2699FB;
  }
}

.header-delete {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  transform: none !important;
  padding: 0 !important;
  height: 114px;
  align-items: center;
}

.works-list {
  transition: all .1s ease-in-out;
}

.works-list.with-nav.drag-overlay {
  margin-top: 0;
  padding-top: 85px;
}

.auth-keyboard-opened {
  .btns-help {
    display: none;
  }
}

.menu-personal__list {
  .personal-li {
    font-family: 'SFProDisplay-Regular', sans-sefir;
    padding: 20px 54px;
  }
}

.main-menu__bottom {
  .active {
    &:after {
      position: absolute;
      content: '';
      height: 2px;
      width: 37px;
      background: #FF5182;
      top: -9px;
      left: 50%;
      border-radius: 10px;
      transform: translateX(-50%);
    }
  }
}

.mark {
  padding: 7px 15px;
  .mark-input {
    min-width: 25px;
    width: 25px;
    height: 25px;
    &:after {
      top: 2px;
      left: 2px;
      width: 17px;
      height: 17px;
    }
  }
  .mark-label {
    margin: 0 0 0 10px;
    padding: 0;
  }
}

.tab-content__single {
  .mark {
    padding-left: 0;
    .mark-label {
      padding: 0;
    }
  }
}

.fill-in__tab:last-of-type {
  overflow: hidden;
  overflow-y: auto;
  &.has-services {
    align-items: flex-start;
    padding: 0;
    margin: 10px 25px;
    height: 70px;
  }
}

app-calendar {
  &.blur {
    height: fit-content;
    .container-calendar-wrapper {
      top: 82px;
      background: #fff;
    }
  }
}

.calendar {
  &-date {
    &.busy, &.current-day {
      position: relative;
      &:after {
        position: absolute;
        content: '';
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: #FF5182;
        bottom: -11px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    &.current-day {
      &:after {
        background: #5492E9;
      }
    }
    &:before {
      width: 20px !important;
      height: 20px !important;
      bottom: -3px !important;
    }
  }
  &-nav {
    text-transform: capitalize;
  }
  &-weekly {
    min-height: 145px;
    padding-top: 0;

    .weekly-list {
      padding: 16px 0;
    }
    .calendar-content {
      margin-bottom: 0;
    }
  }
  &-btns {
    button {
      position: relative;
      &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}



.tab-content__single {
  .contact-row {
    border: 4px;
    padding: 8px;
    margin-bottom: 0 !important;
  }
  .search-label {
    display: flex !important;
    align-items: center;
    .icon-search{
      &:before {
        font-size: 16px !important;
      }
    }
    .search-input {
      height: 17px;
      font-size: 17px;
    }
  }
}

.avatar-client__info {
  bottom: 34px;
  .client-info {
    margin: 7px 0;
  }
}

.app-item__flex {
  .duration {
    color: #007AFF;
    font-family: "SFProText-Bold", sans-sefir;
  }
}

.master-services-list {
  display: flex;
  flex-direction: column;
  .mark {
    padding: 7px 15px;
    .mark-label {
      width: 100%;
      margin-left: 10px;
    }
  }
  .form-button__fill {
    width: auto;
    padding: 10px 40px;
    margin: 15px auto 30px;
  }
}

.action-item {
  a {
    width: 100%;
    padding: 0;
  }
}

.contacts-letter__item {
  .form-item {
    padding: 22px 15px 15px 0;
    width: 100%;
  }
}

.message-menu__bottom {
  height: auto;
  transition: all 1s ease-in-out;
  align-items: flex-end;
}

//.status-bar-background {
//  position: fixed;
//  top: 0;
//  left: 0;
//  width: 100%;
//  height: 30px;
//  background: #F883A3;
//}

.contact-single-page {
  .description {
    .description-input {
      display: block;
    }
  }
}

.blur {
  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 201;
  }
}

.opened-keyboard {
  padding-bottom: 290px;
}

.section-appointment {
  .app-item__flex {
    .service-name__deep {
      width: calc(50% - 20px);
      text-align: center;
    }
    .delimeter {
      color: #858585;
      font-weight: bold;
    }
  }
}

.circle-menu {
  li {
    span {
      top: 27%;
      left: 27%;
    }
  }
}

.tab-container {
  .client-profile {
    label {
      font: inherit;
    }
    input {
      font-family: 'SFProDisplay-Light', sans-serif;
    }
  }
  .btn-side {
    &::before {
      left: 20px;
      top: 17px;
      font-size: 25px;
    }
  }
}
.phone {
  input {
    color: #4a4a4a !important;
    &:disabled {
      color: #4a4a4a !important;
      -webkit-text-fill-color: #4a4a4a;
      opacity: 1;
    }
  }
}
.active-row {
  background: #f0f0f0;
}

.personal-status__on, .personal-status__off {
  position: absolute;
  top: 62px;
  left: 50%;
  transform: translateX(-50%);
}

.section-messages__dialogue {
  //min-height: calc(100% - (67px + #{$header-padding}));
  height: calc(100vh - (76px + 67px + #{$header-padding}));
  &.with-footer {
    margin-bottom: 76px;
    padding-bottom: 0;
  }
}

.message-preview {
  /* hide text if it more than N lines  */
  overflow: hidden;
  /* for set '...' in absolute position */
  position: relative;
  /* use this value to count block height */
  line-height: 1.2em;
  /* max-height = line-height (1.2) * lines max number (3) */
  max-height: 2.4em;
  /* fix problem when last visible word doesn't adjoin right side  */
  text-align: justify;
  /* place for '...' */
  margin-right: -1em;
  padding-right: 1em;
}
/* create the ... */
.message-preview:before {
  /* points in the end */
  content: '...';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of block */
  right: 0;
  bottom: 0;
}
/* hide ... if we have text, which is less than or equal to max lines */
.message-preview:after {
  /* points in the end */
  content: '';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of text */
  right: 0;
  /* set width and height */
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  /* bg color = bg color under block */
  background: white;
}

.dialogue {
  .time {
    font-size: 11px;
  }
  .outcome-box, .outbox-box {
    padding-bottom: 24px;
  }
}


.message-menu__bottom {
  position: static;
}

.messages-preview__item {
  .preview-box {
    width: 100%;
  }
  .avatar-middle {
    margin-right: 22px;
  }
}

.mask-text {
  -webkit-text-security: disc;
  -moz-webkit-text-security: disc;
  -moz-text-security: disc;
}

input[type='tel'] {
  background: transparent;
  font-size: 15px;
  width: 100%;
  cursor: default;
  outline: none;
}

.confirmation-code {
  border-bottom: none;
}

app-dialogue {
  .photo {
    position: relative;
    z-index: 3;
  }
  header {
    input {
      text-align: center;
    }
  }


  .contacts-letter__item {
    width: 100%;
    position: fixed;
    margin: 0;
    box-shadow: -4px -2px 20px -8px rgba(0, 0, 0, 0.44);
    padding-top: 3px;
    z-index: 102;
  }
  .message-menu__bottom {
    .icon-telegramm {
      padding: 16px 22px;
      position: absolute;
      right: -37px;
      bottom: -14px;
    }
  }

  main {

  }
}

.dialogue {
  [class^="dialogue-"], [class*=" dialogue-"] {
    margin-top: 7px;
  }
}

.calendar-subhead {
  span {
    padding-top: 8px;
  }
}

.menu-bottom-icon {
  color: #626262;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  align-items: center;
  width: 30%;
  position: relative;
  height: 35px;
  padding: 5px;
}

.icon-minus {
  position: relative;
  cursor: pointer;
  &:before {
    content: "";
    position: absolute;
    right: -2px;
    top: calc(50% + 3px);
    width: 17px;
    height: 3px;
    background: #545454;
    transform: translate(0, -50%);
  }
}

.workflow-list {
  //&:not(.not-current-date) {
  //  &.current-date {
  //    .workflow-item__info {
  //      &.hide-time {
  //        //background: #ebedf0;
  //        //.icon-pluse {
  //        //  display: none;
  //        //}
  //      }
  //    }
  //  }
  //}
  .hide-time {
    background: #ebedf0;
    .icon-pluse {
      display: none;
    }
  }
  &.not-current-date {
    .workflow-item__info {
      background: #ebedf0;
    }
  }
}

.profile-span-container {
  display: inline-block;
  margin: 0 0 0 15px;
  word-break: break-all;
}

.not-current-date {
  .icon-pluse {
    display: none;
  }
}

app-alert {
  .form-item {
    margin: 0 0 20px;
    padding: 22px 0 6px;

    &:after {
      width: 100%;
    }
  }
}

input {
  &.inputMask {
    position: absolute;
    color: transparent;
    font: inherit;
  }
}

.im-colormask {
  & > div {
    padding: 11px 60px;
    margin: 0 auto 20px;
  }
}

.im-static {
  &:not(:first-child) {
    color: #999;
  }
  &:not(:nth-last-child(2)):not(:nth-last-child(1)) {
    &:nth-child(2) {
      color: #000;
    }
  }
  &:only-child {
    color: #999;
  }
}

.notification-status {
  font-family: 'SFProDisplay-Heavy', sans-serif;
}

.notification-heading {
  .service-time {
    width: 100%;
    justify-content: flex-end;
    padding-left: 10px;
  }
}

.section-notifications {
  height: calc(100vh - (117px + #{$header-padding}));
}

.fill-in {
  &__tab {
    span {
      &.time {
        width: calc(100% / 3);
        &.end {
          justify-content: center;
        }
      }
    }
  }
}

app-notifications {
  .with-footer {
    margin-bottom: 50px;
  }
  .section-support {
    height: calc(100vh - (117px + #{$header-padding}));
    overflow-y: auto;
  }
}


// Platforms styling
.iphone {
  header {
    padding-top: 15px;
  }
  .with-nav {
    margin-top: 94px;
  }
  app-contacts-import {
    .with-nav {
      margin-top: 138px;
    }
  }
  .contact-single-page {
    margin-top: 82px;
  }
}




