%shadow-header {
  box-shadow: -5px 4px 20px -8px rgba(0, 0, 0, 0.44);
}
%shadow-bottom {
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.44);
}
%shadow-popup {
  box-shadow: -2px 10px 15px -9px  rgba(0,0,0,0.44);
}