//Fonts
$font-main: 'SFProDisplay-Bold';
$font-main__light: 'SFProDisplay-Light';
$font-main__heading: 'SFProDisplay-Semibold';
$font-button: 'SFProDisplay-Medium';
$font-notification: 'SFProDisplay-Heavy';
$font-main__subheading: 'SFProText-Semibold';
$font-main__subheading1: 'SFProText-Medium';
$font-main__subheading2: 'SFProText-LightItalic';
$font-main__subheading3: 'SFProText-Bold';
$font-hint: 'SFProDisplay-Regular';
$font-hint__light: 'SFProText-Regular';


//Colors
$white: #FFFFFF;
$black: #000000;
$black-light: #292929;
$black-sub: #060606;
$black-sub2: #444444;
$black-opacity: #04040F;
$background-main: #FF5182;
$background-main__dark: #F9326A;
$background-main__light: #FCE3EA;
$background-main__gradient: #F883A3;
$background-main__border: #FA7DA1;
$background-light: #FBFBFB;
$background-ultralight: #FEFEFE;
$background-grey: #848484;
$background-grey__strong: #545454;
$background-grey__opacity: #5e5e5e;
$background-grey__light: #ECEEF0;
$background-grey__ultralight: #FAFBFB;
$background-download: #F8F8F8;
$background-delete: #FF3B30;
$background-dark: #F2F2F2;
$background-sticker: #FDFDFD;
$background-icon__grey: #F1F1F1;
$background-input__light: #FAFAFB;
$background-switched: #4CD964;
$background-green: #00BF53;
$background-green__light: #94D55D;
$background-section: #F5F6F7;
$background-section__light: #FCFCFC;
$background-star__positive: #FFE121;

$color-border__strong: #D8D8D8;
$color-border__light: #DBDBDB;
$color-border__ultralight: #F9F9FA;
$color-border__alternative: #EAEAEA;
$color-border__switch: #E5E5E5;
$color-border__input: #F5F5F6;
$color-list__hint: #3E3E3E;
$color-link__blue: #2699FB;
$color-icon__main: #626262;
$color-icon-grey: #747474;
$color-icon__blue: #007AFF;
$color-blue: #157CEB;
$color-blue__light: #C6E1F7;
$color-blue__blur: #345992;
$color-blue__deep: #0A2AFC;
$color-icon__back: #5492E9;
$color-icon__light: #BFBFBF;
$color-placeholder: #858585;
$color-placeholder__light: #979797;
$color-black__light: #232323;
$color-back__icon: #A7A7A7;
$color-search: #8E8E93;
$color-muted: #C0C0C0;
$color-dot: #ACACAC;
$color-border: #D7D8D9;
$color-yellow: #FAD54A;
$color-yellow__light: #F5EFD5;
$color-yellow__muted: #E0B32D;
$color-violet: #AC75FF;
//$color-violet__muted:;


//Color-text
$color-text__light: #707070;
$color-text__solid: #4A4A4A;
$color-text__medium: #9D9D9D;