<header class="header-main">
  <div class="container-narrow">
    <span class="back icon-chevron-left" (click)="comS.pushBack()"></span>
    <div class="personal-info__heading">
      <h1 class="heading-main">Настройки</h1>
    </div>
  </div>
</header>
<ion-content>
  <section class="section-views section-settings with-nav">
    <ul class="settings-list container-narrow">
      <li class="settings-item">
        <span class="item-left icon-card"></span>
        <h2 class="settings-item__name item-center">Местоположения</h2>
        <div class="switcher item-right">
          <input class="switcher-input" type="checkbox" name="location" [(ngModel)]="locationField" (change)="locationStateChange()" id= "check"/>
          <label class="switcher-label" for="check"></label>
        </div>
      </li>
      <li class="settings-item">
        <span class="item-left icon-card"></span>
        <h2 class="settings-item__name item-center">Push уведомления</h2>
        <div class="switcher item-right">
          <input class="switcher-input" name="push" [(ngModel)]="pushNotifications" (change)="pushStateChange()" type="checkbox" id= "check1"/>
          <label class="switcher-label" for="check1"></label>
        </div>
      </li>
      <li class="settings-item">
        <span class="item-left icon-card"></span>
        <h2 class="settings-item__name item-center">Платёжная информация </h2>
        <span class="item-right">
                                <span class="icon-chevron-right"></span>
                            </span>
      </li>
      <li class="settings-item" (click)="comS.pushPage('/settings-password-change')">
        <span class="item-left icon-key"></span>
        <h2 class="settings-item__name item-center">Пароль</h2>
        <span class="item-right">
                                <span class="icon-chevron-right"></span>
                            </span>
      </li>
      <li class="settings-item" (click)="comS.pushPage('/settings-lang')">
        <span class="item-left icon-card"></span>
        <h2 class="settings-item__name item-center">Язык</h2>
        <span class="item-right">
                                <span class="icon-chevron-right"></span>
                            </span>
      </li>
    </ul>
  </section>
</ion-content>