<div *ngIf="show" class="popup-hint">
  <div>
    <p>
      <span *ngIf="comS.getType(message) === 'object' && message['length']">
        <span *ngFor="let msg of message">
          {{msg}}
          <br>
        </span>
      </span>
      <span *ngIf="comS.getType(message) === 'string'">
        {{message}}
      </span>
    </p>
    <a class="continue-register" *ngIf="continueRegister" (click)="toContinueRegister()">{{continueRegister['text']}}</a>
  </div>
  <a class="icon-pluse" (click)="show = !show"></a>
</div>