<header class="header-main">
  <div class="container-narrow">
    <span class="back icon-chevron-left" (click)="comS.pushBack()"></span>
    <div class="personal-info__heading">
      <h1 class="heading-main">Изменить пароль</h1>
    </div>
  </div>
</header>
<ion-content>
  <section class="section-views section-settings with-nav">
    <form (submit)="changePassword()" [formGroup]="passwordForm">
      <div class="form-item" *ngFor="let field of passFields">
        <label class="name-label">
          <span class="placeholder-span" [class.focused]="focusObject && (focusObject === field) || (passwordForm.controls[field['formName']].value && passwordForm.controls[field['formName']].value.length > 0)">{{field['placeholder']}}</span>
          <input [type]="field['type']" [formControl]="passwordForm.controls[field['formName']]" (focus)="fieldOnFocus(field, $event)" (focusout)="fieldOutOfFocus(field['formName'])" [maxlength]="field['restriction']">
          <span class="icon-pluse-thin right-icon" (click)="clearFieldValue(passwordForm.controls[field['formName']])" *ngIf="focusObject && (focusObject === field) || (passwordForm.controls[field['formName']].value && passwordForm.controls[field['formName']].value.length > 0)"></span>
        </label>
      </div>
    </form>
  </section>
  <div class="popup-info__bottom">
    <h3 class="popup-modal__subheading">
      {{comS.lang['label_not_remember_password']}}
    </h3>
    <button class="form-button" [class.form-button__fill]="passwordForm.valid" [disabled]="!passwordForm.valid" (click)="changePassword()">{{comS.lang['button_change_password']}}</button>
  </div>
</ion-content>